# Data Engineering: Lab 02
---------------

### Task 01: Create data frame called df_beers containing 5 names of beers, their type, alcohol value, and the brewing company.

### Task 02: Creating a dataframe from csv

##### a) Create a DataFrame called meteorites with the meteorite_landings.csv file.

##### b) Print the top5 entries of your DataFrame and check if everything is ok. What information is missing?

##### c) Create the DataFrame again with the missing information and print the top5 entries.

### Task 03: Extracting subsets

##### a) Use the query method to extract the meteorites with mass(g) greater then 50000.

##### b) Use the query method to extract the meteorites with mass(g) greater then 50000 and fall equals 'Fell' and nametype equals 'Valid'.

##### c) Use the query method to extract the meteorites with mass(g) greater then 100000 and the substring 'ur' in the name.

### Task 04:  Working with the dataframe

##### a) Add a column with the name 'just_year' which contains only the year of the 'year' column.

##### b) Then add a column 'age', which contains the difference of the current year and the data in the 'just_year' column. For all entries with NaN in the year column set the age to 0.

### Task 05: Reading
Take your list of the top12 most important and interesting sections of the ebook "97 Things Every Data Engineer Should Know". Read the next top3 sections of your list and write down the most important points of the section with three bullet points each.