#### Read data

In order to use Spark and its DataFrame API, we will need to use a SQLContext. When running Spark, we start Spark application by creating a SparkContext. We can then create a SQLContext from the SparkContext.

Read the data "nycflights" into a Spark DataFrame with the read method.

In [0]:
print("#TODO")
#spark_DF =

#TODO

Let's display the first 1000 rows.

In [0]:
print("#TODO")

#TODO

But how many rows do we have in the data frame?

In [0]:
print("#TODO")

#TODO

Before doing any analysis, let's see the schema. We can also see the type of the DataFrame.

In [0]:
#TODO: Print the schema

In [0]:
print("#TODO: Print the Type")

#TODO: Print the Type

##### Spark Operations

Now, let's perform various Spark DataFrame operations.

Select all columns and display the data

In [0]:
# TODO

m = ""

display(m)

''

Select the columns 'year', 'month' and 'day' and show the data

In [0]:
print("#TODO: Select the columns 'year', 'month' and 'day' and show the data")

#TODO: Select the columns 'year', 'month' and 'day' and show the data

drop the column 'month' and display the data

In [0]:
print("TODO: drop the column 'month' and display the data")

TODO: drop the column 'month' and display the data

Change the column names of year, month and day to upper case and display it.

In [0]:
print("TODO: change the column names of year, month and day to upper case and display it")

TODO: change the column names of year, month and day to upper case and display it

Display the column origin and a second column with the length of the origin string.

In [0]:
from pyspark.sql.functions import length

print("TODO: Display the origin and the length of the origin string.")

TODO: Display the origin and the length of the origin string.

Filter the column month for January.

In [0]:
print("TODO: Filter the column month for January.")

TODO: Filter the column month for January.

Filter the column month for all months after September.

In [0]:
print("TODO: Filter the column month for all months after September.")

TODO: Filter the column month for all months after September.

Filter the column month for all months between September and May (including May).

In [0]:
print("TODO: Filter the column month for all months between September and May (including May).")

TODO: Filter the column month for all months between September and May (including May).

Use [`distinct()`](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.distinct) filters out duplicate rows, and it considers all columns.

In [0]:
print("TODO: Filter the column month for all months between September and May (including May) with applying distinct.")

TODO: Filter the column month for all months between September and May (including May) with applying distinct.

use `where()` as an alias for `filter()` and query for all month before April (including April).

In [0]:
print("TODO: use `where()` as an alias for `filter()` and query for all month before April (including April)")

TODO: use `where()` as an alias for `filter()` and query for all month before April (including April)

use `where()` as an alias for `filter()` and query the column month for december.

In [0]:
print("TODO: use where() as an alias for filter() and query the column month for december.")

TODO: use where() as an alias for filter() and query the column month for december.

Implement a user defined function to query for even months only

In [0]:
from pyspark.sql.types import BooleanType

print("TODO: Implement a user defined function to query for even months only")

TODO: Implement a user defined function to query for even months only

Implement a user defined function to query for June-August and December

In [0]:
print("TODO: Implement a user defined function to query for June-August and December")

TODO: Implement a user defined function to query for June-August and December

[`groupBy()`]((http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.groupBy) is one of the most powerful transformations. It allows you to perform aggregations on a DataFrame.

Unlike other DataFrame transformations, `groupBy()` does _not_ return a DataFrame. Instead, it returns a special [GroupedData](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.GroupedData) object that contains various aggregation functions.

The most commonly used aggregation function is [count()](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.GroupedData.count),
but there are others (like [sum()](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.GroupedData.sum), [max()](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.GroupedData.max), and [avg()](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.GroupedData.avg).

These aggregation functions typically create a new column and return a new DataFrame.

Group by the columns 'carrier' and calculate the average distance per group.

In [0]:
print("TODO: Group by the columns 'carrier' and calculate the average distance per group.")

TODO: Group by the columns 'carrier' and calculate the average distance per group.

Averages of groups using DataFrames. [`orderBy()`](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.distinct) allows you to sort a DataFrame by one or more columns, producing a new DataFrame.

Order the result above by the column carrier.

In [0]:
print("TODO: Order the result above by the column carrier")

TODO: Order the result above by the column carrier

in orderBy(), the default is ascending but we can change it to descending by setting "ascending=False".

Order the above result in descending order.

In [0]:
print("TODO: Order the above result in descending order")

TODO: Order the above result in descending order

Use the [`count` function](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.GroupedData.count) to find the number of times each carrier occurs

In [0]:
print("TODO: Use the count function to find the number of times each carrier occurs")

TODO: Use the count function to find the number of times each carrier occurs

We can also calculate maximum, minimum and sum of groups using DataFrames

In [0]:
print("TODO: calculate maximum of the distance and hour column per carrier group.")

TODO: calculate maximum of the distance and hour column per carrier group.

In [0]:
print("TODO: calculate minimum of the distance and hour column per carrier group.")

TODO: calculate minimum of the distance and hour column per carrier group.

In [0]:
print("TODO: calculate sum of the distance and hour column per carrier group.")

TODO: calculate sum of the distance and hour column per carrier group.

### SQL statements in Spark

In [0]:
 # SQL statements can be run by using the sql methods provided by `spark`
  
print("TODO: Register this DataFrame as a table.")

TODO: Register this DataFrame as a table.

write a SQL query for query for month >= 5 and <= 9

In [0]:
print("TODO: write a SQL query for query for month >= 5 and <= 9")

TODO: write a SQL query for query for month >= 5 and <= 9

write a SQL query for query the carrier and max(distance) AS Maximum_Distance grouped by carrier and ordered by Maximum_Distance in descending order.

In [0]:
print("TODO: write a SQL query for query the carrier and max(distance) AS Maximum_Distance grouped by carrier and ordered by Maximum_Distance in descending order.")

TODO: write a SQL query for query the carrier and max(distance) AS Maximum_Distance grouped by carrier and ordered by Maximum_Distance in descending order.

write a SQL query to get the distinct carriers.

In [0]:
print("TODO: write a SQL query to get the distinct carriers.")

TODO: write a SQL query to get the distinct carriers.

write a SQL query to get distinct months.

In [0]:
print("TODO: write a SQL query to get distinct months.")

TODO: write a SQL query to get distinct months.

write a SQL query to get distinct months between >3 and <10.

In [0]:
print("TODO:  write a SQL query to get distinct months between >3 and <10.")

TODO:  write a SQL query to get distinct months between >3 and <10.

write a SQL query to get distinct months between 4 and 9

In [0]:
 print("TODO: write a SQL query to get distinct months between 4 and 9.")

TODO: write a SQL query to get distinct months between 4 and 9.

write a SQL query for query the carrier and max(distance) AS Maximum_Distance grouped by carrier and ordered by Maximum_Distance in descending order and limit to 5.

In [0]:
print("TOD: write a SQL query for query the carrier and max(distance) AS Maximum_Distance grouped by carrier and ordered by Maximum_Distance in descending order and limit to 5")

TOD: write a SQL query for query the carrier and max(distance) AS Maximum_Distance grouped by carrier and ordered by Maximum_Distance in descending order and limit to 5

write a SQL query for query the carrier and max(distance) AS Maximum_Distance grouped by carrier and ordered by Maximum_Distance in descending order and just with maximum_distance > 2000.

In [0]:
print("TODO: write a SQL query for query the carrier and max(distance) AS Maximum_Distance grouped by carrier and ordered by Maximum_Distance in descending order and just with maximum_distance > 2000")

TODO: write a SQL query for query the carrier and max(distance) AS Maximum_Distance grouped by carrier and ordered by Maximum_Distance in descending order and just with maximum_distance > 2000

write a SQL query to query for all months not equal 2

In [0]:
print("TODO: write a SQL query to query for all months not equal 2")

TODO: write a SQL query to query for all months not equal 2

write a SQL query to query for carriers where month = 1 or month = 12

In [0]:
print("TODO: write a SQL query to query for carriers where month = 1 or month = 12")

TODO: write a SQL query to query for carriers where month = 1 or month = 12

write a SQL query to query for all distinct carriers starting with an A

In [0]:
print("TODO: write a SQL query to query for all distinct carriers starting with an A")

TODO: write a SQL query to query for all distinct carriers starting with an A