# Data Engineering 1: Lab 05 - Solution
---------------

## **The Dataset**

The dataset to be used in this lab is a CSV file named `airbnb.csv`, which contains data on airbnb listings in the state of New York. It contains the following columns:

- `listing_id`: The unique identifier for a listing
- `description`: The description used on the listing
- `host_id`: Unique identifier for a host
- `host_name`: Name of host
- `neighbourhood_full`: Name of boroughs and neighbourhoods
- `coordinates`: Coordinates of listing _(latitude, longitude)_
- `Listing added`: Date of added listing
- `room_type`: Type of room 
- `rating`: Rating from 0 to 5.
- `price`: Price per night for listing
- `number_of_reviews`: Amount of reviews received 
- `last_review`: Date of last review
- `reviews_per_month`: Number of reviews per month
- `availability_365`: Number of days available per year
- `Number of stays`: Total number of stays thus far

## **Getting started**

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
# Read in the dataset
airbnb = pd.read_csv('DE1_Lab05_airbnb.csv', index_col = 'Unnamed: 0')

## **Diagnosing data cleaning problems using simple `pandas` and visualizations**

Some important and common methods needed to get a better understanding of DataFrames and diagnose potential data problems are the following: 

- `.head()` prints the header of a DataFrame
- `.dtypes` prints datatypes of all columns in a DataFrame
- `.info()` provides a bird's eye view of column data types and missing values in a DataFrame
- `.describe()` returns a distribution of numeric columns in your DataFrame
- `.isna().sum()` allows us to break down the number of missing values per column in our DataFrame
- `.unique()` finds the number of unique values in a DataFrame column

In [4]:
# Print the header of the DataFrame
airbnb.head()

,listing_id,name,host_id,host_name,neighbourhood_full,coordinates,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added
0,13740704,"Cozy,budget friendly, cable inc, private entra...",20583125,Michel,"Brooklyn, Flatlands","(40.63222, -73.93398)",Private room,45$,10,2018-12-12,0.70,85,4.100954,12.0,0.609432,2018-06-08
1,22005115,Two floor apartment near Central Park,82746113,Cecilia,"Manhattan, Upper West Side","(40.78761, -73.96862)",Entire home/apt,135$,1,2019-06-30,1.00,145,3.367600,1.2,0.746135,2018-12-25
2,21667615,Beautiful 1BR in Brooklyn Heights,78251,Leslie,"Brooklyn, Brooklyn Heights","(40.7007, -73.99517)",Entire home/apt,150$,0,NaN,NaN,65,NaN,NaN,NaN,2018-08-15
3,6425850,"Spacious, charming studio",32715865,Yelena,"Manhattan, Upper West Side","(40.79169, -73.97498)",Entire home/apt,86$,5,2017-09-23,0.13,0,4.763203,6.0,0.769947,2017-03-20
4,22986519,Bedroom on the lively Lower East Side,154262349,Brooke,"Manhattan, Lower East Side","(40.71884, -73.98354)",Private room,160$,23,2019-06-12,2.29,102,3.822591,27.6,0.649383,2020-10-23

In [5]:
# Print data types of DataFrame
airbnb.dtypes

listing_id              int64
name                   object
host_id                 int64
host_name              object
neighbourhood_full     object
coordinates            object
room_type              object
price                  object
number_of_reviews       int64
last_review            object
reviews_per_month     float64
availability_365        int64
rating                float64
number_of_stays       float64
5_stars               float64
listing_added          object
dtype: object

In [6]:
# Print info of DataFrame
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10019 entries, 0 to 10018
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   listing_id          10019 non-null  int64
 1   name                10014 non-null  object
 2   host_id             10019 non-null  int64
 3   host_name           10017 non-null  object
 4   neighbourhood_full  10019 non-null  object
 5   coordinates         10019 non-null  object
 6   room_type           10019 non-null  object
 7   price               9781 non-null   object
 8   number_of_reviews   10019 non-null  int64
 9   last_review         7944 non-null   object
 10  reviews_per_month   7944 non-null   float64
 11  availability_365    10019 non-null  int64
 12  rating              7944 non-null   float64
 13  number_of_stays     7944 non-null   float64
 14  5_stars             7944 non-null   float64
 15  listing_added       10019 non-null  object
dtypes: float64(4), int64(4), object(8)
memory usage: 1.3+ MB

In [7]:
# Print number of missing values
airbnb.isna().sum()

listing_id               0
name                     5
host_id                  0
host_name                2
neighbourhood_full       0
coordinates              0
room_type                0
price                  238
number_of_reviews        0
last_review           2075
reviews_per_month     2075
availability_365         0
rating                2075
number_of_stays       2075
5_stars               2075
listing_added            0
dtype: int64

In [8]:
# Print description of DataFrame
airbnb.describe()

,listing_id,host_id,number_of_reviews,reviews_per_month,availability_365,rating,number_of_stays,5_stars
count,1.001900e+04,1.001900e+04,10019.000000,7944.000000,10019.000000,7944.000000,7944.000000,7944.000000
mean,1.927634e+07,6.795923e+07,22.459727,1.353894,112.284260,4.014458,33.991541,0.718599
std,1.095056e+07,7.863106e+07,43.173896,1.615380,131.636043,0.575064,56.089279,0.079978
min,3.831000e+03,2.787000e+03,0.000000,0.010000,0.000000,3.000633,1.200000,0.600026
25%,9.674772e+06,7.910880e+06,1.000000,0.200000,0.000000,3.520443,3.600000,0.655576
50%,2.007030e+07,3.165167e+07,5.000000,0.710000,44.000000,4.027965,10.800000,0.709768
75%,2.933864e+07,1.074344e+08,22.000000,2.000000,226.000000,4.516378,38.400000,0.763978
max,3.648724e+07,2.741034e+08,510.000000,16.220000,365.000000,5.181114,612.000000,0.950339

In [9]:
# Find number of unique values in room_type column
airbnb['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Private', 'Shared room',
       'PRIVATE ROOM', 'home', '   Shared room      '], dtype=object)

In [10]:
# How many values of different room_types do we have?
airbnb['room_type'].value_counts()

Entire home/apt         5120
Private room            4487
Shared room              155
Private                   89
   Shared room            71
home                      66
PRIVATE ROOM              31
Name: room_type, dtype: int64

## **Our task list:**

_Data type problems:_

- **Task 1:** Split `coordinates` into 2 columns (`latitude` and `longitude`) and convert them to `float`.
- **Task 2**: Remove `$` from `price` and convert it to `float`
- **Task 3**: Convert `listing_added` and `last_review` to `datetime`

<br>

_Text/categorical data problems:_

- **Task 4**: We need to collapse `room_type` into correct categories
- **Task 5**: Divide `neighbourhood_full` into 2 columns and making sure they are clean

<br>

_Data range problems:_

- **Task 6**: Make sure we set the correct maximum for `rating` column out of range values

<br>

_Dealing with date problems:_

- **Task 7**: Check consitent date format in the date columns.

<br>


_Dealing with duplicate data:_

- **Task 8**: Check for duplicate data.

## **Tasks**

### Data type problems

In [11]:
# Reminder of the DataFrame
airbnb.head()

,listing_id,name,host_id,host_name,neighbourhood_full,coordinates,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added
0,13740704,"Cozy,budget friendly, cable inc, private entra...",20583125,Michel,"Brooklyn, Flatlands","(40.63222, -73.93398)",Private room,45$,10,2018-12-12,0.70,85,4.100954,12.0,0.609432,2018-06-08
1,22005115,Two floor apartment near Central Park,82746113,Cecilia,"Manhattan, Upper West Side","(40.78761, -73.96862)",Entire home/apt,135$,1,2019-06-30,1.00,145,3.367600,1.2,0.746135,2018-12-25
2,21667615,Beautiful 1BR in Brooklyn Heights,78251,Leslie,"Brooklyn, Brooklyn Heights","(40.7007, -73.99517)",Entire home/apt,150$,0,NaN,NaN,65,NaN,NaN,NaN,2018-08-15
3,6425850,"Spacious, charming studio",32715865,Yelena,"Manhattan, Upper West Side","(40.79169, -73.97498)",Entire home/apt,86$,5,2017-09-23,0.13,0,4.763203,6.0,0.769947,2017-03-20
4,22986519,Bedroom on the lively Lower East Side,154262349,Brooke,"Manhattan, Lower East Side","(40.71884, -73.98354)",Private room,160$,23,2019-06-12,2.29,102,3.822591,27.6,0.649383,2020-10-23

##### **Task 1:** Split `coordinates` into 2 columns (`latitude` and `longitude`) and convert them to `float`.

To perform this task, we will use the following methods:

- `.str.replace("","")` replaces one string in each row of a column with another
- `.str.split("")` takes in a string and lets you split a column into two based on that string
- `.astype()` lets you convert a column from one type to another

In [12]:
# Remove "(" and ")" from coordinates
airbnb['coordinates'] = airbnb['coordinates'].str.replace("(","")
airbnb['coordinates'] = airbnb['coordinates'].str.replace(")","")
# Print the header of the column
airbnb['coordinates'].head()

<ipython-input-12-a3512d7f25e6>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  airbnb['coordinates'] = airbnb['coordinates'].str.replace("(","")
<ipython-input-12-a3512d7f25e6>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  airbnb['coordinates'] = airbnb['coordinates'].str.replace(")","")

0    40.63222, -73.93398
1    40.78761, -73.96862
2     40.7007, -73.99517
3    40.79169, -73.97498
4    40.71884, -73.98354
Name: coordinates, dtype: object

In [13]:
# Split column into two
lat_long = airbnb['coordinates'].str.split(",", expand = True)
lat_long.head()

          0           1
0  40.63222   -73.93398
1  40.78761   -73.96862
2   40.7007   -73.99517
3  40.79169   -73.97498
4  40.71884   -73.98354

In [14]:
# Assign correct columns to latitude and longitude columns in airbnb
airbnb['latitude'] = lat_long[0]
airbnb['longitude'] = lat_long[1]
# Print the header and confirm new column creation
airbnb.head()

,listing_id,name,host_id,host_name,neighbourhood_full,coordinates,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added,latitude,longitude
0,13740704,"Cozy,budget friendly, cable inc, private entra...",20583125,Michel,"Brooklyn, Flatlands","40.63222, -73.93398",Private room,45$,10,2018-12-12,0.70,85,4.100954,12.0,0.609432,2018-06-08,40.63222,-73.93398
1,22005115,Two floor apartment near Central Park,82746113,Cecilia,"Manhattan, Upper West Side","40.78761, -73.96862",Entire home/apt,135$,1,2019-06-30,1.00,145,3.367600,1.2,0.746135,2018-12-25,40.78761,-73.96862
2,21667615,Beautiful 1BR in Brooklyn Heights,78251,Leslie,"Brooklyn, Brooklyn Heights","40.7007, -73.99517",Entire home/apt,150$,0,NaN,NaN,65,NaN,NaN,NaN,2018-08-15,40.7007,-73.99517
3,6425850,"Spacious, charming studio",32715865,Yelena,"Manhattan, Upper West Side","40.79169, -73.97498",Entire home/apt,86$,5,2017-09-23,0.13,0,4.763203,6.0,0.769947,2017-03-20,40.79169,-73.97498
4,22986519,Bedroom on the lively Lower East Side,154262349,Brooke,"Manhattan, Lower East Side","40.71884, -73.98354",Private room,160$,23,2019-06-12,2.29,102,3.822591,27.6,0.649383,2020-10-23,40.71884,-73.98354

In [15]:
# Print out dtypes again
airbnb.dtypes

listing_id              int64
name                   object
host_id                 int64
host_name              object
neighbourhood_full     object
coordinates            object
room_type              object
price                  object
number_of_reviews       int64
last_review            object
reviews_per_month     float64
availability_365        int64
rating                float64
number_of_stays       float64
5_stars               float64
listing_added          object
latitude               object
longitude              object
dtype: object

In [16]:
# Convert latitude and longitude to float
airbnb['latitude'] = airbnb['latitude'].astype('float')
airbnb['longitude'] = airbnb['longitude'].astype('float')
# Print dtypes again
airbnb.dtypes

listing_id              int64
name                   object
host_id                 int64
host_name              object
neighbourhood_full     object
coordinates            object
room_type              object
price                  object
number_of_reviews       int64
last_review            object
reviews_per_month     float64
availability_365        int64
rating                float64
number_of_stays       float64
5_stars               float64
listing_added          object
latitude              float64
longitude             float64
dtype: object

In [17]:
# Drop coordinates column
airbnb.drop('coordinates', axis = 1, inplace = True)

##### **Task 2:** Remove `$` from `price` and convert it to `float`

To perform this task, we will be using the following methods:

- `.str.strip()` which removes a specified string from each row in a column
- `.astype()`

In [19]:
# Remove $ from price before conversion to float
airbnb['price'] = airbnb['price'].str.strip("$")
# Print header to make sure change was done
airbnb['price'].head()

0     45
1    135
2    150
3     86
4    160
Name: price, dtype: object

In [20]:
# Convert price to float
airbnb['price'] = airbnb['price'].astype('float')
# Calculate mean of price after conversion
airbnb['price'].mean()

150.90512217564665

##### **Task 3:** Convert `listing_added` and `last_review` columns to `datetime`

To perform this task, we will use the following functions:

- `pd.to_datetime(format = "")`
  - `format` takes in the desired date format `"%Y-%m-%d"`

In [21]:
# Print header of two columns
airbnb[['listing_added', 'last_review']].head()

  listing_added last_review
0    2018-06-08  2018-12-12
1    2018-12-25  2019-06-30
2    2018-08-15         NaN
3    2017-03-20  2017-09-23
4    2020-10-23  2019-06-12

In [22]:
# Convert both columns to datetime
airbnb['listing_added'] = pd.to_datetime(airbnb['listing_added'], format = '%Y-%m-%d')
airbnb['last_review'] = pd.to_datetime(airbnb['last_review'], format = '%Y-%m-%d')

In [23]:
# Print header and datatypes of both columns again
print(airbnb[['listing_added', 'last_review']].head())
print(airbnb[['listing_added', 'last_review']].dtypes)

  listing_added last_review
0    2018-06-08  2018-12-12
1    2018-12-25  2019-06-30
2    2018-08-15         NaT
3    2017-03-20  2017-09-23
4    2020-10-23  2019-06-12
listing_added    datetime64[ns]
last_review      datetime64[ns]
dtype: object

### Text and categorical data problems

##### **Task 4:** We need to collapse `room_type` into correct categories

To perform this task, we will be using the following methods:

- `.str.lower()` to lowercase all rows in a string column
- `.str.strip()` to remove all white spaces of each row in a string column
- `.replace()` to replace values in a column with another

In [24]:
# Print unique values of `room_type`
airbnb['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Private', 'Shared room',
       'PRIVATE ROOM', 'home', '   Shared room      '], dtype=object)

In [25]:
# Deal with capitalized values
airbnb['room_type'] = airbnb['room_type'].str.lower()
airbnb['room_type'].unique()

array(['private room', 'entire home/apt', 'private', 'shared room',
       'home', '   shared room      '], dtype=object)

In [26]:
# Deal with trailing spaces
airbnb['room_type'] = airbnb['room_type'].str.strip()
airbnb['room_type'].unique()

array(['private room', 'entire home/apt', 'private', 'shared room',
       'home'], dtype=object)

In [27]:
# Replace values to 'Shared room', 'Entire place', 'Private room' and 'Hotel room' (if applicable).
mappings = {'private room': 'Private Room', 
            'private': 'Private Room',
            'entire home/apt': 'Entire place',
            'shared room': 'Shared room',
            'home': 'Entire place'}

# Replace values and collapse data
airbnb['room_type'] = airbnb['room_type'].replace(mappings)
airbnb['room_type'].unique()

array(['Private Room', 'Entire place', 'Shared room'], dtype=object)

##### **Task 5:** Divide `neighbourhood_full` into 2 columns and making sure they are clean

In [28]:
# Print header of column
airbnb['neighbourhood_full'].head()

0           Brooklyn, Flatlands
1    Manhattan, Upper West Side
2    Brooklyn, Brooklyn Heights
3    Manhattan, Upper West Side
4    Manhattan, Lower East Side
Name: neighbourhood_full, dtype: object

In [29]:
# Split neighbourhood_full
borough_neighbourhood = airbnb['neighbourhood_full'].str.split(",", expand = True)
borough_neighbourhood.head()

           0                  1
0   Brooklyn          Flatlands
1  Manhattan    Upper West Side
2   Brooklyn   Brooklyn Heights
3  Manhattan    Upper West Side
4  Manhattan    Lower East Side

In [30]:
# Create borough and neighbourhood columns
airbnb['borough'] = borough_neighbourhood[0]
airbnb['neighbourhood'] = borough_neighbourhood[1]
# Print header of columns
airbnb[['neighbourhood_full', 'borough', 'neighbourhood']].head()

           neighbourhood_full    borough      neighbourhood
0         Brooklyn, Flatlands   Brooklyn          Flatlands
1  Manhattan, Upper West Side  Manhattan    Upper West Side
2  Brooklyn, Brooklyn Heights   Brooklyn   Brooklyn Heights
3  Manhattan, Upper West Side  Manhattan    Upper West Side
4  Manhattan, Lower East Side  Manhattan    Lower East Side

In [31]:
# Drop neighbourhood_full column
airbnb.drop('neighbourhood_full', axis = 1, inplace = True)

In [32]:
# Print out unique values of borough and neighbourhood
print(airbnb['borough'].unique())
print(airbnb['neighbourhood'].unique())

['Brooklyn' 'Manhattan' 'Queens' 'Bronx' 'Staten Island']
[' Flatlands' ' Upper West Side' ' Brooklyn Heights' ' Lower East Side'
 ' Greenwich Village' ' Harlem' ' Sheepshead Bay' ' Theater District'
 ' Bushwick' ' Laurelton' ' Mott Haven' ' Flushing' ' Crown Heights'
 ' Midtown' ' Financial District' ' East Village' ' Park Slope'
 ' Washington Heights' ' Williamsburg' ' Chelsea' ' Bedford-Stuyvesant'
 ' Gowanus' ' Upper East Side' ' Ditmars Steinway' ' Cypress Hills'
 " Hell's Kitchen" ' Ridgewood' ' Marble Hill' ' Kips Bay'
 ' Prospect Heights' ' East New York' ' Concord' ' Stapleton' ' Astoria'
 ' East Harlem' ' Sunnyside' ' Gramercy' ' Prospect-Lefferts Gardens'
 ' Sunset Park' ' Forest Hills' ' Windsor Terrace' ' Clinton Hill'
 ' Murray Hill' ' Flatiron District' ' Greenpoint' ' East Flatbush'
 ' Tribeca' ' Woodhaven' ' Fort Greene' ' Inwood' ' Chinatown'
 ' Rockaway Beach' ' Woodside' ' Bayside' ' Bensonhurst' ' SoHo'
 ' Red Hook' ' West Village' ' South Slope' ' Richmond Hill' ' Jamaica'
 ' Boerum Hill' ' St. George' ' Clason Point' ' College Point'
 ' Vinegar Hill' ' Rego Park' ' East Elmhurst' ' Kensington'
 ' Roosevelt Island' ' Ozone Park' ' Arverne' ' Fordham' ' Wakefield'
 ' Port Morris' ' Flatbush' ' Elmhurst' ' Bay Ridge' ' Canarsie'
 ' Little Italy' ' Civic Center' ' St. Albans' ' Morningside Heights'
 ' Morrisania' ' Two Bridges' ' Concourse' ' Downtown Brooklyn'
 ' Queens Village' ' Fieldston' ' Allerton' ' Grymes Hill'
 ' Carroll Gardens' ' Kingsbridge' ' Belle Harbor' ' NoHo' ' Maspeth'
 ' Borough Park' ' Midwood' ' Fresh Meadows' ' Battery Park City'
 ' Pelham Bay' ' Van Nest' ' Long Island City' ' Williamsbridge' ' Nolita'
 ' Kew Gardens' ' Corona' ' Middle Village' ' Jackson Heights'
 ' Gravesend' ' New Dorp Beach' ' Brighton Beach' ' Belmont'
 ' Eltingville' ' South Ozone Park' ' Stuyvesant Town' ' Far Rockaway'
 ' Longwood' ' Glendale' ' Dongan Hills' ' Hollis' ' Columbia St'
 ' Tompkinsville' ' Springfield Gardens' ' Concourse Village'
 ' Throgs Neck' ' Cobble Hill' ' South Beach' ' North Riverdale'
 ' Rosedale' ' Mount Hope' ' Edenwald' ' Parkchester' ' Mill Basin'
 ' Brownsville' ' Fort Hamilton' ' Howard Beach' ' Claremont Village'
 ' Pelham Gardens' ' Westchester Square' ' Kew Gardens Hills' ' Arrochar'
 ' Edgemere' ' Shore Acres' ' Dyker Heights' ' Mount Eden'
 ' Randall Manor' ' Jamaica Hills' ' Norwood' ' Tottenville'
 ' Cambria Heights' ' East Morrisania' ' Soundview' ' Morris Park'
 ' Bronxdale' ' Bellerose' ' Navy Yard' ' Unionport' ' DUMBO' ' Bayswater'
 ' Tremont' ' Highbridge' ' Graniteville' ' Baychester' ' Morris Heights'
 ' Coney Island' ' Briarwood' ' West Farms' " Prince's Bay"
 ' University Heights' ' Clifton' ' Bay Terrace' ' City Island'
 ' West Brighton' ' Douglaston' ' Schuylerville' ' Port Richmond'
 ' Oakwood' ' Westerleigh' ' Little Neck' ' Holliswood' ' Bergen Beach'
 ' Castle Hill' ' Olinville' ' Rosebank' ' Melrose' ' Whitestone'
 ' Grant City' ' Riverdale' ' Neponsit' ' Bath Beach' ' Mariners Harbor'
 ' Hunts Point' ' Great Kills' ' Midland Beach' ' Eastchester'
 ' Jamaica Estates' ' New Springville']

In [33]:
# Strip white space from neighbourhood column
airbnb['neighbourhood'] = airbnb['neighbourhood'].str.strip()
# Print unique values again
print(airbnb['neighbourhood'].unique())

['Flatlands' 'Upper West Side' 'Brooklyn Heights' 'Lower East Side'
 'Greenwich Village' 'Harlem' 'Sheepshead Bay' 'Theater District'
 'Bushwick' 'Laurelton' 'Mott Haven' 'Flushing' 'Crown Heights' 'Midtown'
 'Financial District' 'East Village' 'Park Slope' 'Washington Heights'
 'Williamsburg' 'Chelsea' 'Bedford-Stuyvesant' 'Gowanus' 'Upper East Side'
 'Ditmars Steinway' 'Cypress Hills' "Hell's Kitchen" 'Ridgewood'
 'Marble Hill' 'Kips Bay' 'Prospect Heights' 'East New York' 'Concord'
 'Stapleton' 'Astoria' 'East Harlem' 'Sunnyside' 'Gramercy'
 'Prospect-Lefferts Gardens' 'Sunset Park' 'Forest Hills'
 'Windsor Terrace' 'Clinton Hill' 'Murray Hill' 'Flatiron District'
 'Greenpoint' 'East Flatbush' 'Tribeca' 'Woodhaven' 'Fort Greene' 'Inwood'
 'Chinatown' 'Rockaway Beach' 'Woodside' 'Bayside' 'Bensonhurst' 'SoHo'
 'Red Hook' 'West Village' 'South Slope' 'Richmond Hill' 'Jamaica'
 'Boerum Hill' 'St. George' 'Clason Point' 'College Point' 'Vinegar Hill'
 'Rego Park' 'East Elmhurst' 'Kensington' 'Roosevelt Island' 'Ozone Park'
 'Arverne' 'Fordham' 'Wakefield' 'Port Morris' 'Flatbush' 'Elmhurst'
 'Bay Ridge' 'Canarsie' 'Little Italy' 'Civic Center' 'St. Albans'
 'Morningside Heights' 'Morrisania' 'Two Bridges' 'Concourse'
 'Downtown Brooklyn' 'Queens Village' 'Fieldston' 'Allerton' 'Grymes Hill'
 'Carroll Gardens' 'Kingsbridge' 'Belle Harbor' 'NoHo' 'Maspeth'
 'Borough Park' 'Midwood' 'Fresh Meadows' 'Battery Park City' 'Pelham Bay'
 'Van Nest' 'Long Island City' 'Williamsbridge' 'Nolita' 'Kew Gardens'
 'Corona' 'Middle Village' 'Jackson Heights' 'Gravesend' 'New Dorp Beach'
 'Brighton Beach' 'Belmont' 'Eltingville' 'South Ozone Park'
 'Stuyvesant Town' 'Far Rockaway' 'Longwood' 'Glendale' 'Dongan Hills'
 'Hollis' 'Columbia St' 'Tompkinsville' 'Springfield Gardens'
 'Concourse Village' 'Throgs Neck' 'Cobble Hill' 'South Beach'
 'North Riverdale' 'Rosedale' 'Mount Hope' 'Edenwald' 'Parkchester'
 'Mill Basin' 'Brownsville' 'Fort Hamilton' 'Howard Beach'
 'Claremont Village' 'Pelham Gardens' 'Westchester Square'
 'Kew Gardens Hills' 'Arrochar' 'Edgemere' 'Shore Acres' 'Dyker Heights'
 'Mount Eden' 'Randall Manor' 'Jamaica Hills' 'Norwood' 'Tottenville'
 'Cambria Heights' 'East Morrisania' 'Soundview' 'Morris Park' 'Bronxdale'
 'Bellerose' 'Navy Yard' 'Unionport' 'DUMBO' 'Bayswater' 'Tremont'
 'Highbridge' 'Graniteville' 'Baychester' 'Morris Heights' 'Coney Island'
 'Briarwood' 'West Farms' "Prince's Bay" 'University Heights' 'Clifton'
 'Bay Terrace' 'City Island' 'West Brighton' 'Douglaston' 'Schuylerville'
 'Port Richmond' 'Oakwood' 'Westerleigh' 'Little Neck' 'Holliswood'
 'Bergen Beach' 'Castle Hill' 'Olinville' 'Rosebank' 'Melrose'
 'Whitestone' 'Grant City' 'Riverdale' 'Neponsit' 'Bath Beach'
 'Mariners Harbor' 'Hunts Point' 'Great Kills' 'Midland Beach'
 'Eastchester' 'Jamaica Estates' 'New Springville']

##### **Task 6:** Make sure we set the correct maximum for `rating` column out of range values

In [34]:
# Isolate rows of rating > 5.0
airbnb[airbnb['rating'] > 5.0]

,listing_id,name,host_id,host_name,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added,latitude,longitude,borough,neighbourhood
1925,36411407,Brand new 1 bedroom steps from Soho!,33917435,Mike,Entire place,150.0,1,2019-07-06,1.0,13,5.017040,1.2,0.870161,2018-12-31,40.71825,-73.99019,Manhattan,Lower East Side
6732,36390226,Comfortable clean Bedstuy private room,267932490,Angela,Private Room,45.0,2,2019-07-08,2.0,14,5.087091,2.4,0.950339,2019-01-02,40.69551,-73.93951,Brooklyn,Bedford-Stuyvesant
8821,36413632,Spacious 2BR in Beautiful Brooklyn Heights,6608220,Matt,Entire place,550.0,1,2019-07-07,1.0,230,5.181114,1.2,0.805418,2019-01-01,40.69827,-73.99649,Brooklyn,Brooklyn Heights

In [35]:
# Drop these rows and make sure we have effected changes
airbnb.drop(airbnb[airbnb['rating'] > 5.0].index, inplace = True)

In [36]:
# Get the maximum
airbnb['rating'].max()

4.999561104773598

##### **Task 7:** Check consitent date format in the date columns.

In [37]:
# Doing some sanity checks on date data
today = dt.date.today()

In [38]:
# Are there reviews in the future?
airbnb[airbnb['last_review'].dt.date > today]

Empty DataFrame
Columns: [listing_id, name, host_id, host_name, room_type, price, number_of_reviews, last_review, reviews_per_month, availability_365, rating, number_of_stays, 5_stars, listing_added, latitude, longitude, borough, neighbourhood]
Index: []

In [39]:
# Are there listings in the future?
airbnb[airbnb['listing_added'].dt.date > today]

Empty DataFrame
Columns: [listing_id, name, host_id, host_name, room_type, price, number_of_reviews, last_review, reviews_per_month, availability_365, rating, number_of_stays, 5_stars, listing_added, latitude, longitude, borough, neighbourhood]
Index: []

In [40]:
# Drop these rows since they are only 4 rows
airbnb = airbnb[~(airbnb['listing_added'].dt.date > today)]

In [41]:
# Are there any listings with listing_added > last_review
inconsistent_dates = airbnb[airbnb['listing_added'].dt.date > airbnb['last_review'].dt.date]
inconsistent_dates

,listing_id,name,host_id,host_name,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added,latitude,longitude,borough,neighbourhood
4,22986519,Bedroom on the lively Lower East Side,154262349,Brooke,Private Room,160.0,23,2019-06-12,2.29,102,3.822591,27.6,0.649383,2020-10-23,40.71884,-73.98354,Manhattan,Lower East Side
50,20783900,Marvelous Manhattan Marble Hill Private Suites,148960265,Randy,Private Room,93.0,7,2018-10-06,0.32,0,4.868036,8.4,0.609263,2020-02-17,40.87618,-73.91266,Manhattan,Marble Hill
60,1908852,Oversized Studio By Columbus Circle,684629,Alana,Entire place,189.0,7,2016-05-06,0.13,0,4.841204,8.4,0.725995,2017-09-17,40.77060,-73.98919,Manhattan,Upper West Side
124,28659894,Private bedroom in prime Bushwick! Near Trains!!!,216235179,Nina,Private Room,55.0,4,2019-04-12,0.58,358,4.916252,4.8,0.703117,2020-08-23,40.69988,-73.92072,Brooklyn,Bushwick
511,33619855,Modern & Spacious in trendy Crown Heights,253354074,Yehudis,Entire place,150.0,6,2019-05-27,2.50,148,3.462432,7.2,0.610929,2020-10-07,40.66387,-73.93840,Brooklyn,Crown Heights
521,25317793,Awesome Cozy Room in The Heart of Sunnyside!,136406167,Kara,Private Room,65.0,22,2019-06-11,1.63,131,4.442485,26.4,0.722388,2020-10-22,40.74090,-73.92696,Queens,Sunnyside

In [42]:
# Drop these rows since they are only 2 rows
airbnb.drop(inconsistent_dates.index, inplace = True)

##### **Task 8:** Let's deal with duplicate data


There are two notable types of duplicate data:

- Identical duplicate data across all columns
- Identical duplicate data cross most or some columns

To diagnose, and deal with duplicate data, we will be using the following methods and functions:

- `.duplicated(subset = , keep = )`
  - `subset` lets us pick one or more columns with duplicate values.
  - `keep` returns lets us return all instances of duplicate values.
- `.drop_duplicates(subset = , keep = )`

In [43]:
# Print the header of the DataFrame again
airbnb.head()

,listing_id,name,host_id,host_name,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added,latitude,longitude,borough,neighbourhood
0,13740704,"Cozy,budget friendly, cable inc, private entra...",20583125,Michel,Private Room,45.0,10,2018-12-12,0.70,85,4.100954,12.0,0.609432,2018-06-08,40.63222,-73.93398,Brooklyn,Flatlands
1,22005115,Two floor apartment near Central Park,82746113,Cecilia,Entire place,135.0,1,2019-06-30,1.00,145,3.367600,1.2,0.746135,2018-12-25,40.78761,-73.96862,Manhattan,Upper West Side
2,21667615,Beautiful 1BR in Brooklyn Heights,78251,Leslie,Entire place,150.0,0,NaT,NaN,65,NaN,NaN,NaN,2018-08-15,40.70070,-73.99517,Brooklyn,Brooklyn Heights
3,6425850,"Spacious, charming studio",32715865,Yelena,Entire place,86.0,5,2017-09-23,0.13,0,4.763203,6.0,0.769947,2017-03-20,40.79169,-73.97498,Manhattan,Upper West Side
5,271954,Beautiful brownstone apartment,1423798,Aj,Entire place,150.0,203,2019-06-20,2.22,300,4.478396,243.6,0.743500,2018-12-15,40.73388,-73.99452,Manhattan,Greenwich Village

In [44]:
# Find duplicates
duplicates = airbnb.duplicated(subset = 'listing_id', keep = False)
print(duplicates)

0        False
1        False
2        False
3        False
5        False
         ...
10014    False
10015    False
10016    False
10017    False
10018    False
Length: 10010, dtype: bool

In [45]:
# Find duplicates
airbnb[duplicates].sort_values('listing_id')

,listing_id,name,host_id,host_name,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added,latitude,longitude,borough,neighbourhood
1145,253806,Loft Suite @ The Box House Hotel,417504,The Box House Hotel,Entire place,199.0,43,2019-07-02,0.47,60,4.620238,51.6,0.861086,2018-12-27,40.73652,-73.95236,Brooklyn,Greenpoint
6562,253806,Loft Suite @ The Box House Hotel,417504,The Box House Hotel,Entire place,199.0,43,2019-07-02,0.47,60,4.620238,51.6,0.861086,2018-12-27,40.73652,-73.95236,Brooklyn,Greenpoint
8699,2044392,The heart of Williamsburg 2 bedroom,620218,Sarah,Entire place,245.0,0,NaT,NaN,0,NaN,NaN,NaN,2018-08-09,40.71257,-73.96149,Brooklyn,Williamsburg
5761,2044392,The heart of Williamsburg 2 bedroom,620218,Sarah,Entire place,250.0,0,NaT,NaN,0,NaN,NaN,NaN,2018-05-24,40.71257,-73.96149,Brooklyn,Williamsburg
4187,4244242,Best Bedroom in Bedstuy/Bushwick. Ensuite bath...,22023014,BrooklynSleeps,Private Room,73.0,110,2019-06-23,1.96,323,4.962314,132.0,0.809882,2018-12-18,40.69496,-73.93949,Brooklyn,Bedford-Stuyvesant
2871,4244242,Best Bedroom in Bedstuy/Bushwick. Ensuite bath...,22023014,BrooklynSleeps,Private Room,70.0,110,2019-06-23,1.96,323,4.962314,132.0,0.809882,2018-12-18,40.69496,-73.93949,Brooklyn,Bedford-Stuyvesant
77,7319856,450ft Square Studio in Gramercy NY,11773680,Adam,Entire place,289.0,4,2016-05-22,0.09,225,3.903764,4.8,0.756381,2015-11-17,40.73813,-73.98098,Manhattan,Kips Bay
2255,7319856,450ft Square Studio in Gramercy NY,11773680,Adam,Entire place,280.0,4,2016-05-22,0.09,225,3.903764,4.8,0.756381,2015-11-17,40.73813,-73.98098,Manhattan,Kips Bay
555,9078222,"Prospect Park 3 bdrm, Sleeps 8 (#2)",47219962,Babajide,Entire place,154.0,123,2019-07-01,2.74,263,3.466881,147.6,0.738191,2018-12-26,40.66086,-73.96159,Brooklyn,Prospect-Lefferts Gardens
7933,9078222,"Prospect Park 3 bdrm, Sleeps 8 (#2)",47219962,Babajide,Entire place,150.0,123,2019-07-01,2.74,263,3.466881,147.6,0.738191,2018-12-26,40.66086,-73.96159,Brooklyn,Prospect-Lefferts Gardens
1481,15027024,Newly renovated 1bd on lively & historic St Marks,8344620,Ethan,Entire place,180.0,10,2018-12-31,0.30,0,3.969729,12.0,0.772513,2018-06-27,40.72693,-73.98385,Manhattan,East Village
3430,15027024,Newly renovated 1bd on lively & historic St Marks,8344620,Ethan,Entire place,180.0,10,2018-12-31,0.30,0,3.869729,12.0,0.772513,2018-06-27,40.72693,-73.98385,Manhattan,East Village
3065,16518377,East Village 1BR Apt with all the amenities,3012457,Cody,Entire place,200.0,3,2018-07-10,0.16,0,4.676670,3.6,0.694443,2018-01-04,40.72350,-73.97963,Manhattan,East Village
5397,16518377,East Village 1BR Apt with all the amenities,3012457,Cody,Entire place,200.0,3,2018-07-10,0.16,0,4.676670,3.6,0.694443,2018-01-04,40.72350,-73.97963,Manhattan,East Village
3007,17861841,THE CREATIVE COZY ROOM,47591528,Janessa,Private Room,99.0,13,2019-05-23,0.52,82,4.806590,15.6,0.937422,2018-11-17,40.59211,-73.94127,Brooklyn,Sheepshead Bay
368,17861841,THE CREATIVE COZY ROOM,47591528,Janessa,Private Room,99.0,13,2019-05-23,0.52,82,4.806590,15.6,0.937422,2018-11-17,40.59211,-73.94127,Brooklyn,Sheepshead Bay
6438,19477677,Huge sunny room next to subway!,25038748,Justin,Private Room,70.0,11,2019-05-11,0.45,0,3.074890,13.2,0.631619,2018-11-05,40.82119,-73.95583,Manhattan,Harlem
5251,19477677,Huge sunny room next to subway!,25038748,Justin,Private Room,70.0,11,2019-05-11,0.45,0,3.074890,13.2,0.631619,2018-11-05,40.82119,-73.95583,Manhattan,Harlem
5454,21106251,Private Bedroom in Great Brooklyn Apartment,25354313,Tommy,Private Room,45.0,9,2019-06-22,0.43,0,3.779114,10.8,0.738191,2018-12-17,40.67359,-73.95812,Brooklyn,Crown Heights
6832,21106251,Private Bedroom in Great Brooklyn Apartment,25354313,Tommy,Private Room,45.0,9,2019-06-22,0.43,0,3.779114,10.8,0.738191,2018-12-17,40.67359,-73.95812,Brooklyn,Crown Heights
5246,22014840,Sunny Bedroom Only 1 Metro Stop to Manhattan,32093643,Scarlett,Private Room,70.0,2,2018-01-07,0.11,0,4.024336,2.4,0.719426,2017-07-04,40.76211,-73.94887,Manhattan,Roosevelt Island
6068,22014840,Sunny Bedroom Only 1 Metro Stop to Manhattan,32093643,Scarlett,Private Room,70.0,2,2018-01-07,0.11,0,4.024336,2.4,0.719426,2017-07-04,40.76211,-73.94887,Manhattan,Roosevelt Island
5861,23990868,1 Bedroom in Luxury Building,4447548,Grace,Entire place,88.0,8,2019-06-16,0.56,18,4.164548,9.6,0.640106,2018-12-11,40.69336,-73.94453,Brooklyn,Bedford-Stuyvesant
6132,23990868,1 Bedroom in Luxury Building,4447548,Grace,Entire place,88.0,8,2019-06-16,0.56,18,4.164548,9.6,0.640106,2018-12-11,40.69336,-73.94453,Brooklyn,Bedford-Stuyvesant
7769,26554879,East Village/Union Square Flat,17400431,Bob,Entire place,179.0,32,2019-06-26,2.92,12,3.125513,38.4,0.631764,2018-12-21,40.73177,-73.98691,Manhattan,East Village
7116,26554879,East Village/Union Square Flat,17400431,Bob,Entire place,179.0,32,2019-06-26,2.92,12,3.125513,38.4,0.631764,2018-12-21,40.73177,-73.98691,Manhattan,East Village
5236,29844951,Cozy Home In Queens,49946447,Rah,Private Room,50.0,1,2019-03-19,0.27,311,4.792923,1.2,0.701232,2018-09-13,40.68842,-73.77677,Queens,Jamaica
9425,29844951,Cozy Home In Queens,49946447,Rah,Private Room,50.0,1,2019-03-19,0.27,311,4.792923,1.2,0.701232,2018-09-13,40.68842,-73.77677,Queens,Jamaica
7316,31470004,Private bedroom/Bathroom in a 2 bedroom apartment,71241932,Max,Private Room,2500.0,0,NaT,NaN,90,NaN,NaN,NaN,2018-04-09,40.72544,-73.97818,Manhattan,East Village
9322,31470004,Private bedroom/Bathroom in a 2 bedroom apartment,71241932,Max,Private Room,2500.0,0,NaT,NaN,90,NaN,NaN,NaN,2018-03-12,40.72544,-73.97818,Manhattan,East Village
1338,32610834,Manhattan by the water!,12132369,Omar,Entire place,150.0,0,NaT,NaN,9,NaN,NaN,NaN,2018-06-28,40.73767,-73.97384,Manhattan,Kips Bay
6313,32610834,Manhattan by the water!,12132369,Omar,Entire place,150.0,0,NaT,NaN,9,NaN,NaN,NaN,2018-06-28,40.73767,-73.97384,Manhattan,Kips Bay
6085,33346762,2BR Apartment in Brownstone Brooklyn!,50321289,Avery,Entire place,140.0,4,2019-06-14,1.58,4,4.013393,4.8,0.719591,2018-12-09,40.68200,-73.95681,Brooklyn,Bedford-Stuyvesant
2118,33346762,2BR Apartment in Brownstone Brooklyn!,50321289,Avery,Entire place,140.0,4,2019-06-14,1.58,4,4.013393,4.8,0.719591,2018-12-09,40.68200,-73.95681,Brooklyn,Bedford-Stuyvesant
5025,33831116,Sonder | Stock Exchange | Collected 1BR + Laundry,219517861,Sonder (NYC),Entire place,229.0,5,2019-06-15,1.92,350,4.026379,6.0,0.601737,2018-12-10,40.70621,-74.01199,Manhattan,Financial District
5077,33831116,Sonder | Stock Exchange | Collected 1BR + Laundry,219517861,Sonder (NYC),Entire place,229.0,5,2019-06-15,1.92,350,4.026379,6.0,0.601737,2018-12-10,40.70621,-74.01199,Manhattan,Financial District
1658,35646737,"Private Cabins @ Chelsea, Manhattan",117365574,Maria,Private Room,85.0,1,2019-06-22,1.00,261,4.951714,1.2,0.671388,2018-12-17,40.74946,-73.99627,Manhattan,Chelsea
3340,35646737,"Private Cabins @ Chelsea, Manhattan",117365574,Maria,Private Room,85.0,1,2019-06-22,1.00,261,4.951714,1.2,0.671388,2018-12-17,40.74946,-73.99627,Manhattan,Chelsea
7155,35801208,Comfy 2 bedroom Close To Manhattan,256911412,Taylor,Entire place,101.0,0,NaT,NaN,27,NaN,NaN,NaN,2018-10-17,40.70469,-73.93690,Brooklyn,Williamsburg
9265,35801208,Comfy 2 bedroom Close To Manhattan,256911412,Taylor,Entire place,101.0,0,NaT,NaN,27,NaN,NaN,NaN,2018-05-03,40.70469,-73.93690,Brooklyn,Williamsburg

In [46]:
# Remove identical duplicates
airbnb = airbnb.drop_duplicates()

In [47]:
# Find non-identical duplicates
duplicates = airbnb.duplicated(subset = 'listing_id', keep = False)

In [48]:
# Show all duplicates
airbnb[duplicates].sort_values('listing_id')

,listing_id,name,host_id,host_name,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added,latitude,longitude,borough,neighbourhood
5761,2044392,The heart of Williamsburg 2 bedroom,620218,Sarah,Entire place,250.0,0,NaT,NaN,0,NaN,NaN,NaN,2018-05-24,40.71257,-73.96149,Brooklyn,Williamsburg
8699,2044392,The heart of Williamsburg 2 bedroom,620218,Sarah,Entire place,245.0,0,NaT,NaN,0,NaN,NaN,NaN,2018-08-09,40.71257,-73.96149,Brooklyn,Williamsburg
2871,4244242,Best Bedroom in Bedstuy/Bushwick. Ensuite bath...,22023014,BrooklynSleeps,Private Room,70.0,110,2019-06-23,1.96,323,4.962314,132.0,0.809882,2018-12-18,40.69496,-73.93949,Brooklyn,Bedford-Stuyvesant
4187,4244242,Best Bedroom in Bedstuy/Bushwick. Ensuite bath...,22023014,BrooklynSleeps,Private Room,73.0,110,2019-06-23,1.96,323,4.962314,132.0,0.809882,2018-12-18,40.69496,-73.93949,Brooklyn,Bedford-Stuyvesant
77,7319856,450ft Square Studio in Gramercy NY,11773680,Adam,Entire place,289.0,4,2016-05-22,0.09,225,3.903764,4.8,0.756381,2015-11-17,40.73813,-73.98098,Manhattan,Kips Bay
2255,7319856,450ft Square Studio in Gramercy NY,11773680,Adam,Entire place,280.0,4,2016-05-22,0.09,225,3.903764,4.8,0.756381,2015-11-17,40.73813,-73.98098,Manhattan,Kips Bay
555,9078222,"Prospect Park 3 bdrm, Sleeps 8 (#2)",47219962,Babajide,Entire place,154.0,123,2019-07-01,2.74,263,3.466881,147.6,0.738191,2018-12-26,40.66086,-73.96159,Brooklyn,Prospect-Lefferts Gardens
7933,9078222,"Prospect Park 3 bdrm, Sleeps 8 (#2)",47219962,Babajide,Entire place,150.0,123,2019-07-01,2.74,263,3.466881,147.6,0.738191,2018-12-26,40.66086,-73.96159,Brooklyn,Prospect-Lefferts Gardens
1481,15027024,Newly renovated 1bd on lively & historic St Marks,8344620,Ethan,Entire place,180.0,10,2018-12-31,0.30,0,3.969729,12.0,0.772513,2018-06-27,40.72693,-73.98385,Manhattan,East Village
3430,15027024,Newly renovated 1bd on lively & historic St Marks,8344620,Ethan,Entire place,180.0,10,2018-12-31,0.30,0,3.869729,12.0,0.772513,2018-06-27,40.72693,-73.98385,Manhattan,East Village
7316,31470004,Private bedroom/Bathroom in a 2 bedroom apartment,71241932,Max,Private Room,2500.0,0,NaT,NaN,90,NaN,NaN,NaN,2018-04-09,40.72544,-73.97818,Manhattan,East Village
9322,31470004,Private bedroom/Bathroom in a 2 bedroom apartment,71241932,Max,Private Room,2500.0,0,NaT,NaN,90,NaN,NaN,NaN,2018-03-12,40.72544,-73.97818,Manhattan,East Village
7155,35801208,Comfy 2 bedroom Close To Manhattan,256911412,Taylor,Entire place,101.0,0,NaT,NaN,27,NaN,NaN,NaN,2018-10-17,40.70469,-73.93690,Brooklyn,Williamsburg
9265,35801208,Comfy 2 bedroom Close To Manhattan,256911412,Taylor,Entire place,101.0,0,NaT,NaN,27,NaN,NaN,NaN,2018-05-03,40.70469,-73.93690,Brooklyn,Williamsburg

To treat identical duplicates across some columns, we will chain the `.groupby()` and `.agg()` methods where we group by the column used to find duplicates (`listing_id`) and aggregate across statistical measures for `price`, `rating` and `list_added`. The `.agg()` method takes in a dictionary with each column's aggregation method - we will use the following aggregations:

- `mean` for `price` and `rating` columns
- `max` for `listing_added` column
- `first` for all remaining column

*A note on dictionary comprehensions:*

Dictionaries are useful data structures in Python with the following format
`my_dictionary = {key: value}` where a `key` is mapped to a `value` and whose `value` can be returned with `my_dictionary[key]` - dictionary comprehensions allow us to programmatically create dicitonaries using the structure:

```
{x: x*2 for x in [1,2,3,4,5]} 
{1:2, 2:4, 3:6, 4:8, 5:10}
```

In [49]:
# Get column names from airbnb
column_names = airbnb.columns
column_names

Index(['listing_id', 'name', 'host_id', 'host_name', 'room_type', 'price',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'availability_365', 'rating', 'number_of_stays', '5_stars',
       'listing_added', 'latitude', 'longitude', 'borough', 'neighbourhood'],
      dtype='object')

In [50]:
# Create dictionary comprehension with 'first' as value for all columns not being aggregated
aggregations = {column_name:'first' for column_name in column_names.difference(['listing_id', 'listing_added', 'rating', 'price'])}
aggregations['price'] = 'mean'
aggregations['rating'] = 'mean'
aggregations['listing_added'] = 'max'
aggregations

{'5_stars': 'first',
 'availability_365': 'first',
 'borough': 'first',
 'host_id': 'first',
 'host_name': 'first',
 'last_review': 'first',
 'latitude': 'first',
 'longitude': 'first',
 'name': 'first',
 'neighbourhood': 'first',
 'number_of_reviews': 'first',
 'number_of_stays': 'first',
 'reviews_per_month': 'first',
 'room_type': 'first',
 'price': 'mean',
 'rating': 'mean',
 'listing_added': 'max'}

In [51]:
# Remove non-identical duplicates
airbnb = airbnb.groupby('listing_id').agg(aggregations).reset_index()

In [52]:
# Make sure no duplication happened
airbnb[airbnb.duplicated('listing_id', keep = False)]

Empty DataFrame
Columns: [listing_id, 5_stars, availability_365, borough, host_id, host_name, last_review, latitude, longitude, name, neighbourhood, number_of_reviews, number_of_stays, reviews_per_month, room_type, price, rating, listing_added]
Index: []

In [53]:
# Print header of DataFrame
airbnb.head()

,listing_id,5_stars,availability_365,borough,host_id,host_name,last_review,latitude,longitude,name,neighbourhood,number_of_reviews,number_of_stays,reviews_per_month,room_type,price,rating,listing_added
0,3831,0.757366,194,Brooklyn,4869,LisaRoxanne,2019-07-05,40.68514,-73.95976,Cozy Entire Floor of Brownstone,Clinton Hill,270,324.0,4.64,Entire place,89.0,3.273935,2018-12-30
1,6848,0.789743,46,Brooklyn,15991,Allen & Irina,2019-06-29,40.70837,-73.95352,Only 2 stops to Manhattan studio,Williamsburg,148,177.6,1.20,Entire place,140.0,3.495760,2018-12-24
2,7322,0.669873,12,Manhattan,18946,Doti,2019-07-01,40.74192,-73.99501,Chelsea Perfect,Chelsea,260,312.0,2.12,Private Room,140.0,4.389051,2018-12-26
3,7726,0.640251,21,Brooklyn,20950,Adam And Charity,2019-06-22,40.67592,-73.94694,Hip Historic Brownstone Apartment with Backyard,Crown Heights,53,63.6,4.44,Entire place,99.0,3.305382,2018-12-17
4,12303,0.918593,311,Brooklyn,47618,Yolande,2018-09-30,40.69673,-73.97584,1bdr w private bath. in lofty apt,Fort Greene,25,30.0,0.23,Private Room,120.0,4.568745,2018-03-27