# Data Engineering 1: Graded Lab 01
---------------

#### Grading
For this graded lab you can get a total of 10 points. These 10 points count 10% of your final grade for the course.

#### Start
Start of the Graded Lab 01 is **Thursday, March 21st at 23:55**.

#### Deadline
Deadline for the submission of the Graded Lab 01 is **Thursday, April 11th at 23:59**.

#### Note
Check each result carefully. Use data filter, cleaning, and transformation methods wherever needed. The data can sometimes be really messy and have hidden issues.

#### Submission
You are allowed to submit the solution in groups of **two or three** students.
Submit your GradedLab01.ipynb file renamed to FirstnameStudent01LastnameStudent01_FirstnameStudent02LastnameStudent02_FirstnameStudent03LastnameStudent03.ipynb in moodle.   
Please submit a runnable python jupyter notebook file.
All other submissions will be rejected and graded with 0 points.

##### Task 01: Structured Data [4 points].    
The imdb.csv file contains a dataset extracted from IMDB with several attributes. For example, the title, plot, and the language of the movies. Read the imdb.csv file in a pandas dataframe and try to answer the following questions.

##### __(a)  What is the min, max, and the average value of the attribute 'rating' for all movies? [0.5 points].__

In [343]:
import pandas as pd

imdb = pd.read_csv('../Grundlagen/DE1_GradedLab01/imdb.csv')

print(f"Lowest rating: {imdb['rating'][imdb['kind'] == 'movie'].min()}")
print(f"Highest rating: {imdb['rating'][imdb['kind'] == 'movie'].max()}")
print(f"Average rating: {imdb['rating'][imdb['kind'] == 'movie'].mean():.2f}")

Lowest rating: 8.1
Highest rating: 9.3
Average rating: 8.35

##### __(b) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' for all movies? [0.5 points].__

In [344]:
# Data cleansing
imdb['cumulative worldwide gross'] = imdb['cumulative worldwide gross'].str.replace(r'[\$,]', '', regex=True)
imdb['cumulative worldwide gross'] = imdb['cumulative worldwide gross'].str.split().str[0]
imdb['cumulative worldwide gross'] = imdb['cumulative worldwide gross'].str.replace('000000000', '0', regex=True)
imdb['cumulative worldwide gross'] = pd.to_numeric(imdb['cumulative worldwide gross'], errors='coerce')

In [345]:
# Queries
print(f"Lowest cumulative worldwide gross: {imdb['cumulative worldwide gross'][imdb['kind'] == 'movie'].min()}")
print(f"Highest cumulative worldwide gross: {imdb['cumulative worldwide gross'][imdb['kind'] == 'movie'].max()}")
print(f"Average cumulative worldwide gross: {imdb['cumulative worldwide gross'][imdb['kind'] == 'movie'].mean():.2f}")

Lowest cumulative worldwide gross: 6540000
Highest cumulative worldwide gross: 2797800564
Average cumulative worldwide gross: 390489624.68

##### __(c) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' grouped by genre of the movies? [1 point].__

In [346]:
# Convert values of this column to lists
imdb['genres'] = imdb['genres'].apply(eval)

In [347]:
# Get all unique genres
genres = []
for cell in imdb['genres']:
    for element in cell:
        genres.append(element)

genres = list(set(genres))
genres.sort()
print(genres)

['Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Game-Show', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western']

##### __(d) What is the profit (defined as cumulative worldwide gross - budget) of each movie? [1 point].__

In [348]:
# Data cleansing
imdb['budget'] = imdb['budget'].str.replace(r'[\$,]', '', regex=True)
imdb['budget'] = imdb['budget'].str.split().str[0]
imdb['budget'] = imdb['budget'].str.replace('000000000', '0', regex=True)
imdb['budget'] = pd.to_numeric(imdb['budget'], errors='coerce')

In [349]:
# Queries
imdb['net profit'] = imdb['cumulative worldwide gross'] - imdb['budget']
imdb[['title', 'net profit']][imdb['kind'] == 'movie']

                                                title  net profit
0                            The Shawshank Redemption    33500000
1                                       The Godfather   239066411
2                                     The Dark Knight   819558444
3                                    Schindler's List   199000000
4                                        Pulp Fiction   205928762
..                                                ...         ...
92  Pirates of the Caribbean: The Curse of the Bla...   514264015
93                                            Aladdin   476050219
94                               Beauty and the Beast   399967620
95                                           The Help   191639112
96                                 Dances with Wolves   402200000

[97 rows x 2 columns]

##### __(e)  What is the min, max, and the average value of the atttribute 'opening weekend united states' per month? [1 point].__

In [350]:
# Data cleansing
imdb['opening weekend united states'] = imdb['opening weekend united states'].str.replace(r'[\$,]', '', regex=True)
imdb['opening weekend date united states'] = imdb['opening weekend united states']
imdb['opening weekend united states gross'] = imdb['opening weekend united states'].str.split().str[0]
imdb['opening weekend date united states'] = imdb['opening weekend date united states'].str.split().str[1:4]

In [351]:
# Cleanup date
def parse_date(date):
    monats_dict = {
        "Jan": "01", "Feb": "02", "Mar": "03", "Apr": "04",
        "May": "05", "Jun": "06", "Jul": "07", "Aug": "08",
        "Sep": "09", "Oct": "10", "Nov": "11", "Dec": "12"
    }
    result = f"{date[0]}.{monats_dict[date[1]]}.{date[2]}"
    return result

imdb['opening weekend date united states'] = imdb['opening weekend date united states'][imdb['kind'] == 'movie'].apply(parse_date)

In [352]:
# Drop no more needed columns
imdb.drop(columns=['opening weekend united states'], inplace=True)

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,budget,plot,net profit,opening weekend date united states,opening weekend united states gross
0,111161,movie,The Shawshank Redemption,['English'],[Drama],9.3,Frank Darabont,58500000,25000000,Chronicles the experiences of a formerly succe...,33500000,20.11.1994,727326
1,68646,movie,The Godfather,"['English', 'Italian', 'Latin']","[Crime, Drama]",9.2,Francis Ford Coppola,245066411,6000000,"The Godfather ""Don"" Vito Corleone is the head ...",239066411,04.04.1997,223758
2,468569,movie,The Dark Knight,"['English', 'Mandarin']","[Action, Crime, Drama, Thriller]",9.1,Christopher Nolan,1004558444,185000000,Set within a year after the events of Batman B...,819558444,20.07.2008,158411483
3,108052,movie,Schindler's List,"['English', 'Hebrew', 'German', 'Polish', 'Lat...","[Biography, Drama, History]",9.0,Steven Spielberg,221000000,22000000,Oskar Schindler is a vain and greedy German bu...,199000000,09.12.2018,566760
4,110912,movie,Pulp Fiction,"['English', 'Spanish', 'French']","[Crime, Drama]",8.9,Quentin Tarantino,213928762,8000000,Jules Winnfield (Samuel L. Jackson) and Vincen...,205928762,14.10.1994,9311882
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,2085059,tv series,Black Mirror,['English'],"[Drama, Mystery, Sci-Fi, Thriller]",8.8,NaN,0,0,"[""An anthology series exploring a twisted, hig...",0,NaN,000000000
155,2707408,tv series,Narcos,"['English', 'Spanish']","[Biography, Crime, Drama, Thriller]",8.8,NaN,0,0,['A chronicled look at the criminal exploits o...,0,NaN,000000000
156,98936,tv series,Twin Peaks,"['English', 'Icelandic', 'Afrikaans', 'Norwegi...","[Crime, Drama, Mystery, Thriller]",8.8,NaN,0,0,['An idiosyncratic FBI agent investigates the ...,0,NaN,000000000
157,4934214,tv series,Taskmaster,['English'],"[Comedy, Game-Show]",9.0,NaN,0,0,['Five comedians are set tasks challenging the...,0,NaN,000000000
158,200276,tv series,The West Wing,['English'],[Drama],8.9,NaN,0,0,['Inside the lives of staffers in the West Win...,0,NaN,000000000

In [354]:
# Queries

C:\Users\jonas\AppData\Local\Temp\ipykernel_13964\2922821719.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_month.groupby(['month']).sum().price.sort_values(ascending=False)

AttributeError: 'DataFrame' object has no attribute 'price'

#### Task 02: Unstructured Data [6 points]. 
This time use the files imdb.csv from Task 01 and the imdb2.csv file. In this task we mainly use the content of the attribute 'plot' for the implementation of a retrieval system.

##### __(a)  Read the files imdb.csv and imdb2.csv in a dataframe called imdb. Add a column which is called 'plotterms' to each item. The new column should contain all terms (lower-case and cleaned from special characters) from the plot attribute which are not contained in the stopwords_english.txt file. [0.5 points]__

In [ ]:
import pandas as pd

data = pd.read_csv('imdb2.csv')

data.head()

##### __(b)  Create an inverted index for the terms in the 'plotterms' column. Use a datastructure of your choice for the implementation [0.5 points]__

##### __(c) Take the inverted index and create the posting list for the query 'american'. Return the posting list as well as the top5 items scored by the rating attribute. [0.5 points]__

##### __(d) Take the inverted index and create the posting lists for the query terms 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot). Your merging algorithm should be efficient and reduce the number of comparison to a minimum. Don't use existing python methods (like intersect or in) for the merge algorithm. Return the merged posting list as well as the top5 items scored by the rating attribute. [1 point]__

##### __(e) Extend your index to be able to rank the resulting items from Task 2d by the occurrence of search terms in the plotterms. Execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) again and print the resulting items.  [1 point]__

##### __(f) Use the TF-IDF score and the cosine similarity to execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) against all plots in the collection. Print the results with the corresponding ranking score. Also execute the query 'american' or 'dream' (the term 'american' or the term 'dream' should be contained in the plot).  [1.5 points]__