# Data Engineering 1: Lab 03
---------------

## **The Dataset**

The dataset to be used in this lab is a CSV file named `airbnb.csv`, which contains data on airbnb listings in the state of New York. It contains the following columns:

- `listing_id`: The unique identifier for a listing
- `description`: The description used on the listing
- `host_id`: Unique identifier for a host
- `host_name`: Name of host
- `neighbourhood_full`: Name of boroughs and neighbourhoods
- `coordinates`: Coordinates of listing _(latitude, longitude)_
- `Listing added`: Date of added listing
- `room_type`: Type of room 
- `rating`: Rating from 0 to 5.
- `price`: Price per night for listing
- `number_of_reviews`: Amount of reviews received 
- `last_review`: Date of last review
- `reviews_per_month`: Number of reviews per month
- `availability_365`: Number of days available per year
- `Number of stays`: Total number of stays thus far

## **Getting started**

In [199]:
# Import libraries
import pandas as pd
import numpy as np
import datetime as dt

In [200]:
# Read in the dataset

airbnb = pd.read_csv('../Grundlagen/DE1_Lab03/DE1_Lab03_airbnb.csv', index_col = 'Unnamed: 0')

## **Diagnosing data cleaning problems using simple `pandas`**

Some important and common methods needed to get a better understanding of DataFrames and diagnose potential data problems are the following: 

- `.head()` prints the header of a DataFrame
- `.dtypes` prints datatypes of all columns in a DataFrame
- `.info()` provides a bird's eye view of column data types and missing values in a DataFrame
- `.describe()` returns a distribution of numeric columns in your DataFrame
- `.isna().sum()` allows us to break down the number of missing values per column in our DataFrame
- `.unique()` finds the number of unique values in a DataFrame column

## **Our task list:**

_Data type problems:_

- **Task 1:** Split `coordinates` into 2 columns (`latitude` and `longitude`) and convert them to `float`.
- **Task 2**: Remove `$` from `price` and convert it to `float`
- **Task 3**: Convert `listing_added` and `last_review` to `datetime`

<br>

_Text/categorical data problems:_

- **Task 4**: We need to collapse `room_type` into correct categories
- **Task 5**: Divide `neighbourhood_full` into 2 columns and making sure they are clean

<br>

_Data range problems:_

- **Task 6**: Make sure we set the correct maximum for `rating` column out of range values

<br>

_Dealing with date problems:_

- **Task 7**: Check consitent date format in the date columns.

<br>


_Dealing with duplicate data:_

- **Task 8**: Check for duplicate data.

## **Tasks**

##### **Task 1:** Split `coordinates` into 2 columns (`latitude` and `longitude`) and convert them to `float`.

To perform this task, we will use the following methods:

- `.str.replace("","")` replaces one string in each row of a column with another
- `.str.split("")` takes in a string and lets you split a column into two based on that string
- `.astype()` lets you convert a column from one type to another

In [201]:
# Remove "(" and ")" from coordinates
airbnb['coordinates'] = airbnb['coordinates'].str.replace('(', '')
airbnb['coordinates'] = airbnb['coordinates'].str.replace(')', '')

airbnb.head()
# Print the header of the column

C:\Users\jonas\AppData\Local\Temp\ipykernel_21900\2927624247.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  airbnb['coordinates'] = airbnb['coordinates'].str.replace('(', '')
C:\Users\jonas\AppData\Local\Temp\ipykernel_21900\2927624247.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  airbnb['coordinates'] = airbnb['coordinates'].str.replace(')', '')

,listing_id,name,host_id,host_name,neighbourhood_full,coordinates,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added
0,13740704,"Cozy,budget friendly, cable inc, private entra...",20583125,Michel,"Brooklyn, Flatlands","40.63222, -73.93398",Private room,45$,10,2018-12-12,0.70,85,4.100954,12.0,0.609432,2018-06-08
1,22005115,Two floor apartment near Central Park,82746113,Cecilia,"Manhattan, Upper West Side","40.78761, -73.96862",Entire home/apt,135$,1,2019-06-30,1.00,145,3.367600,1.2,0.746135,2018-12-25
2,21667615,Beautiful 1BR in Brooklyn Heights,78251,Leslie,"Brooklyn, Brooklyn Heights","40.7007, -73.99517",Entire home/apt,150$,0,NaN,NaN,65,NaN,NaN,NaN,2018-08-15
3,6425850,"Spacious, charming studio",32715865,Yelena,"Manhattan, Upper West Side","40.79169, -73.97498",Entire home/apt,86$,5,2017-09-23,0.13,0,4.763203,6.0,0.769947,2017-03-20
4,22986519,Bedroom on the lively Lower East Side,154262349,Brooke,"Manhattan, Lower East Side","40.71884, -73.98354",Private room,160$,23,2019-06-12,2.29,102,3.822591,27.6,0.649383,2020-10-23

In [202]:
# Split column into two

airbnb['latitude'] = airbnb.coordinates.str.split(',').str[0]
airbnb['longitude'] = airbnb.coordinates.str.split(',').str[1]
airbnb.head()

,listing_id,name,host_id,host_name,neighbourhood_full,coordinates,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added,latitude,longitude
0,13740704,"Cozy,budget friendly, cable inc, private entra...",20583125,Michel,"Brooklyn, Flatlands","40.63222, -73.93398",Private room,45$,10,2018-12-12,0.70,85,4.100954,12.0,0.609432,2018-06-08,40.63222,-73.93398
1,22005115,Two floor apartment near Central Park,82746113,Cecilia,"Manhattan, Upper West Side","40.78761, -73.96862",Entire home/apt,135$,1,2019-06-30,1.00,145,3.367600,1.2,0.746135,2018-12-25,40.78761,-73.96862
2,21667615,Beautiful 1BR in Brooklyn Heights,78251,Leslie,"Brooklyn, Brooklyn Heights","40.7007, -73.99517",Entire home/apt,150$,0,NaN,NaN,65,NaN,NaN,NaN,2018-08-15,40.7007,-73.99517
3,6425850,"Spacious, charming studio",32715865,Yelena,"Manhattan, Upper West Side","40.79169, -73.97498",Entire home/apt,86$,5,2017-09-23,0.13,0,4.763203,6.0,0.769947,2017-03-20,40.79169,-73.97498
4,22986519,Bedroom on the lively Lower East Side,154262349,Brooke,"Manhattan, Lower East Side","40.71884, -73.98354",Private room,160$,23,2019-06-12,2.29,102,3.822591,27.6,0.649383,2020-10-23,40.71884,-73.98354

In [203]:
# Assign correct columns to latitude and longitude columns in airbnb

airbnb.drop(['coordinates'], axis=1, inplace=True)

# Print the header and confirm new column creation

airbnb.head()

,listing_id,name,host_id,host_name,neighbourhood_full,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added,latitude,longitude
0,13740704,"Cozy,budget friendly, cable inc, private entra...",20583125,Michel,"Brooklyn, Flatlands",Private room,45$,10,2018-12-12,0.70,85,4.100954,12.0,0.609432,2018-06-08,40.63222,-73.93398
1,22005115,Two floor apartment near Central Park,82746113,Cecilia,"Manhattan, Upper West Side",Entire home/apt,135$,1,2019-06-30,1.00,145,3.367600,1.2,0.746135,2018-12-25,40.78761,-73.96862
2,21667615,Beautiful 1BR in Brooklyn Heights,78251,Leslie,"Brooklyn, Brooklyn Heights",Entire home/apt,150$,0,NaN,NaN,65,NaN,NaN,NaN,2018-08-15,40.7007,-73.99517
3,6425850,"Spacious, charming studio",32715865,Yelena,"Manhattan, Upper West Side",Entire home/apt,86$,5,2017-09-23,0.13,0,4.763203,6.0,0.769947,2017-03-20,40.79169,-73.97498
4,22986519,Bedroom on the lively Lower East Side,154262349,Brooke,"Manhattan, Lower East Side",Private room,160$,23,2019-06-12,2.29,102,3.822591,27.6,0.649383,2020-10-23,40.71884,-73.98354

In [204]:
# Print out dtypes again

airbnb.dtypes

listing_id              int64
name                   object
host_id                 int64
host_name              object
neighbourhood_full     object
room_type              object
price                  object
number_of_reviews       int64
last_review            object
reviews_per_month     float64
availability_365        int64
rating                float64
number_of_stays       float64
5_stars               float64
listing_added          object
latitude               object
longitude              object
dtype: object

In [205]:
# Convert latitude and longitude to float

airbnb['latitude'] = airbnb['latitude'].astype(float)
airbnb['longitude'] = airbnb['longitude'].astype(float)

# Print dtypes again
airbnb.dtypes

listing_id              int64
name                   object
host_id                 int64
host_name              object
neighbourhood_full     object
room_type              object
price                  object
number_of_reviews       int64
last_review            object
reviews_per_month     float64
availability_365        int64
rating                float64
number_of_stays       float64
5_stars               float64
listing_added          object
latitude              float64
longitude             float64
dtype: object

In [206]:
# Drop coordinates column

##### **Task 2:** Remove `$` from `price` and convert it to `float`

To perform this task, we will be using the following methods:

- `.str.strip()` which removes a specified string from each row in a column
- `.astype()`

In [207]:
# Remove $ from price before conversion to float

airbnb['price'] = airbnb.price.str.replace('$', '')

# Print header to make sure change was done

airbnb.head()

C:\Users\jonas\AppData\Local\Temp\ipykernel_21900\1974607207.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  airbnb['price'] = airbnb.price.str.replace('$', '')

,listing_id,name,host_id,host_name,neighbourhood_full,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added,latitude,longitude
0,13740704,"Cozy,budget friendly, cable inc, private entra...",20583125,Michel,"Brooklyn, Flatlands",Private room,45,10,2018-12-12,0.70,85,4.100954,12.0,0.609432,2018-06-08,40.63222,-73.93398
1,22005115,Two floor apartment near Central Park,82746113,Cecilia,"Manhattan, Upper West Side",Entire home/apt,135,1,2019-06-30,1.00,145,3.367600,1.2,0.746135,2018-12-25,40.78761,-73.96862
2,21667615,Beautiful 1BR in Brooklyn Heights,78251,Leslie,"Brooklyn, Brooklyn Heights",Entire home/apt,150,0,NaN,NaN,65,NaN,NaN,NaN,2018-08-15,40.70070,-73.99517
3,6425850,"Spacious, charming studio",32715865,Yelena,"Manhattan, Upper West Side",Entire home/apt,86,5,2017-09-23,0.13,0,4.763203,6.0,0.769947,2017-03-20,40.79169,-73.97498
4,22986519,Bedroom on the lively Lower East Side,154262349,Brooke,"Manhattan, Lower East Side",Private room,160,23,2019-06-12,2.29,102,3.822591,27.6,0.649383,2020-10-23,40.71884,-73.98354

In [208]:
# Convert price to float

airbnb['price'] = airbnb['price'].astype(float)

# Calculate mean of price after conversion

airbnb['price'].mean()

150.90512217564665

##### **Task 3:** Convert `listing_added` and `last_review` columns to `datetime`

To perform this task, we will use the following functions:

- `pd.to_datetime(format = "")`
  - `format` takes in the desired date format `"%Y-%m-%d"`

In [209]:
# Print header of two columns

airbnb.head(2)

,listing_id,name,host_id,host_name,neighbourhood_full,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added,latitude,longitude
0,13740704,"Cozy,budget friendly, cable inc, private entra...",20583125,Michel,"Brooklyn, Flatlands",Private room,45.0,10,2018-12-12,0.7,85,4.100954,12.0,0.609432,2018-06-08,40.63222,-73.93398
1,22005115,Two floor apartment near Central Park,82746113,Cecilia,"Manhattan, Upper West Side",Entire home/apt,135.0,1,2019-06-30,1.0,145,3.367600,1.2,0.746135,2018-12-25,40.78761,-73.96862

In [210]:
# Convert both columns to datetime

airbnb['listing_added'] = pd.to_datetime(airbnb['listing_added'])
airbnb['last_review'] = pd.to_datetime(airbnb['last_review'])

In [211]:
# Print header and datatypes of both columns again

airbnb.head(2)
airbnb.dtypes

listing_id                     int64
name                          object
host_id                        int64
host_name                     object
neighbourhood_full            object
room_type                     object
price                        float64
number_of_reviews              int64
last_review           datetime64[ns]
reviews_per_month            float64
availability_365               int64
rating                       float64
number_of_stays              float64
5_stars                      float64
listing_added         datetime64[ns]
latitude                     float64
longitude                    float64
dtype: object

### Text and categorical data problems

##### **Task 4:** We need to collapse `room_type` into correct categories

To perform this task, we will be using the following methods:

- `.str.lower()` to lowercase all rows in a string column
- `.str.strip()` to remove all white spaces of each row in a string column
- `.replace()` to replace values in a column with another

In [212]:
# Print unique values of `room_type`

airbnb['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Private', 'Shared room',
       'PRIVATE ROOM', 'home', '   Shared room      '], dtype=object)

In [213]:
# Deal with capitalized values

airbnb['room_type'] = airbnb['room_type'].str.lower()

airbnb['room_type'].unique()

array(['private room', 'entire home/apt', 'private', 'shared room',
       'home', '   shared room      '], dtype=object)

In [214]:
# Deal with trailing spaces

airbnb['room_type'] = airbnb['room_type'].str.strip()

airbnb['room_type'].unique()

array(['private room', 'entire home/apt', 'private', 'shared room',
       'home'], dtype=object)

In [215]:
# Replace values to 'Shared room', 'Entire place', 'Private room' and 'Hotel room' (if applicable).

airbnb.room_type = airbnb['room_type'].str.replace('shared', 'Shared')
airbnb.room_type = airbnb['room_type'].str.replace('entire', 'Entire')
airbnb.room_type = airbnb['room_type'].str.replace('private', 'Private')
airbnb.room_type = airbnb['room_type'].str.replace('hotel', 'Hotel')
airbnb.room_type = airbnb['room_type'].str.replace('home', 'Home')

airbnb.room_type.unique()

array(['Private room', 'Entire Home/apt', 'Private', 'Shared room',
       'Home'], dtype=object)

##### **Task 5:** Divide `neighbourhood_full` into 2 columns and making sure they are clean

In [216]:
# Print header of column

airbnb.head(0)

Empty DataFrame
Columns: [listing_id, name, host_id, host_name, neighbourhood_full, room_type, price, number_of_reviews, last_review, reviews_per_month, availability_365, rating, number_of_stays, 5_stars, listing_added, latitude, longitude]
Index: []

In [217]:
# Split neighbourhood_full

airbnb.neighbourhood_full = airbnb.neighbourhood_full.astype(str)
airbnb['borough'] = airbnb.neighbourhood_full.str.split(',').str[0]
airbnb['neighbourhood'] = airbnb.neighbourhood_full.str.split(',').str[1]

airbnb.head()

,listing_id,name,host_id,host_name,neighbourhood_full,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added,latitude,longitude,borough,neighbourhood
0,13740704,"Cozy,budget friendly, cable inc, private entra...",20583125,Michel,"Brooklyn, Flatlands",Private room,45.0,10,2018-12-12,0.70,85,4.100954,12.0,0.609432,2018-06-08,40.63222,-73.93398,Brooklyn,Flatlands
1,22005115,Two floor apartment near Central Park,82746113,Cecilia,"Manhattan, Upper West Side",Entire Home/apt,135.0,1,2019-06-30,1.00,145,3.367600,1.2,0.746135,2018-12-25,40.78761,-73.96862,Manhattan,Upper West Side
2,21667615,Beautiful 1BR in Brooklyn Heights,78251,Leslie,"Brooklyn, Brooklyn Heights",Entire Home/apt,150.0,0,NaT,NaN,65,NaN,NaN,NaN,2018-08-15,40.70070,-73.99517,Brooklyn,Brooklyn Heights
3,6425850,"Spacious, charming studio",32715865,Yelena,"Manhattan, Upper West Side",Entire Home/apt,86.0,5,2017-09-23,0.13,0,4.763203,6.0,0.769947,2017-03-20,40.79169,-73.97498,Manhattan,Upper West Side
4,22986519,Bedroom on the lively Lower East Side,154262349,Brooke,"Manhattan, Lower East Side",Private room,160.0,23,2019-06-12,2.29,102,3.822591,27.6,0.649383,2020-10-23,40.71884,-73.98354,Manhattan,Lower East Side

In [218]:
# Create borough and neighbourhood columns

# Print header of columns

In [219]:
# Drop neighbourhood_full column

airbnb.drop('neighbourhood_full', axis=1)

,listing_id,name,host_id,host_name,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added,latitude,longitude,borough,neighbourhood
0,13740704,"Cozy,budget friendly, cable inc, private entra...",20583125,Michel,Private room,45.0,10,2018-12-12,0.70,85,4.100954,12.0,0.609432,2018-06-08,40.63222,-73.93398,Brooklyn,Flatlands
1,22005115,Two floor apartment near Central Park,82746113,Cecilia,Entire Home/apt,135.0,1,2019-06-30,1.00,145,3.367600,1.2,0.746135,2018-12-25,40.78761,-73.96862,Manhattan,Upper West Side
2,21667615,Beautiful 1BR in Brooklyn Heights,78251,Leslie,Entire Home/apt,150.0,0,NaT,NaN,65,NaN,NaN,NaN,2018-08-15,40.70070,-73.99517,Brooklyn,Brooklyn Heights
3,6425850,"Spacious, charming studio",32715865,Yelena,Entire Home/apt,86.0,5,2017-09-23,0.13,0,4.763203,6.0,0.769947,2017-03-20,40.79169,-73.97498,Manhattan,Upper West Side
4,22986519,Bedroom on the lively Lower East Side,154262349,Brooke,Private room,160.0,23,2019-06-12,2.29,102,3.822591,27.6,0.649383,2020-10-23,40.71884,-73.98354,Manhattan,Lower East Side
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10014,22307861,Lovely 1BR Harlem apartment,16004068,Rachel,Entire Home/apt,105.0,4,2018-05-28,0.21,0,4.757555,4.8,0.639223,2017-11-22,40.80379,-73.95257,Manhattan,Harlem
10015,953275,Apartment For Your Holidays in NYC!,4460034,Alain,Entire Home/apt,125.0,50,2018-05-06,0.66,188,4.344704,60.0,0.648778,2017-10-31,40.79531,-73.93330,Manhattan,East Harlem
10016,3452835,"Artsy, Garden Getaway in Central Brooklyn",666862,Amy,Entire Home/apt,100.0,45,2016-11-27,0.98,0,3.966214,54.0,0.631713,2016-05-24,40.68266,-73.96743,Brooklyn,Clinton Hill
10017,23540194,"Immaculate townhouse in Clinton Hill, Brooklyn",67176930,Sophie,Entire Home/apt,450.0,2,2019-05-31,0.17,99,4.078581,2.4,0.703360,2018-11-25,40.68832,-73.96366,Brooklyn,Clinton Hill
10018,32876011,Private room in a perfect location in the city,59583716,Shai,Private room,90.0,1,2019-03-12,0.25,8,4.069096,1.2,0.720249,2018-09-06,40.76174,-73.96625,Manhattan,Upper East Side

In [220]:
# Print out unique values of borough and neighbourhood

airbnb.borough.unique()
airbnb.neighbourhood.unique()

array([' Flatlands', ' Upper West Side', ' Brooklyn Heights',
       ' Lower East Side', ' Greenwich Village', ' Harlem',
       ' Sheepshead Bay', ' Theater District', ' Bushwick', ' Laurelton',
       ' Mott Haven', ' Flushing', ' Crown Heights', ' Midtown',
       ' Financial District', ' East Village', ' Park Slope',
       ' Washington Heights', ' Williamsburg', ' Chelsea',
       ' Bedford-Stuyvesant', ' Gowanus', ' Upper East Side',
       ' Ditmars Steinway', ' Cypress Hills', " Hell's Kitchen",
       ' Ridgewood', ' Marble Hill', ' Kips Bay', ' Prospect Heights',
       ' East New York', ' Concord', ' Stapleton', ' Astoria',
       ' East Harlem', ' Sunnyside', ' Gramercy',
       ' Prospect-Lefferts Gardens', ' Sunset Park', ' Forest Hills',
       ' Windsor Terrace', ' Clinton Hill', ' Murray Hill',
       ' Flatiron District', ' Greenpoint', ' East Flatbush', ' Tribeca',
       ' Woodhaven', ' Fort Greene', ' Inwood', ' Chinatown',
       ' Rockaway Beach', ' Woodside', ' Bayside', ' Bensonhurst',
       ' SoHo', ' Red Hook', ' West Village', ' South Slope',
       ' Richmond Hill', ' Jamaica', ' Boerum Hill', ' St. George',
       ' Clason Point', ' College Point', ' Vinegar Hill', ' Rego Park',
       ' East Elmhurst', ' Kensington', ' Roosevelt Island',
       ' Ozone Park', ' Arverne', ' Fordham', ' Wakefield',
       ' Port Morris', ' Flatbush', ' Elmhurst', ' Bay Ridge',
       ' Canarsie', ' Little Italy', ' Civic Center', ' St. Albans',
       ' Morningside Heights', ' Morrisania', ' Two Bridges',
       ' Concourse', ' Downtown Brooklyn', ' Queens Village',
       ' Fieldston', ' Allerton', ' Grymes Hill', ' Carroll Gardens',
       ' Kingsbridge', ' Belle Harbor', ' NoHo', ' Maspeth',
       ' Borough Park', ' Midwood', ' Fresh Meadows',
       ' Battery Park City', ' Pelham Bay', ' Van Nest',
       ' Long Island City', ' Williamsbridge', ' Nolita', ' Kew Gardens',
       ' Corona', ' Middle Village', ' Jackson Heights', ' Gravesend',
       ' New Dorp Beach', ' Brighton Beach', ' Belmont', ' Eltingville',
       ' South Ozone Park', ' Stuyvesant Town', ' Far Rockaway',
       ' Longwood', ' Glendale', ' Dongan Hills', ' Hollis',
       ' Columbia St', ' Tompkinsville', ' Springfield Gardens',
       ' Concourse Village', ' Throgs Neck', ' Cobble Hill',
       ' South Beach', ' North Riverdale', ' Rosedale', ' Mount Hope',
       ' Edenwald', ' Parkchester', ' Mill Basin', ' Brownsville',
       ' Fort Hamilton', ' Howard Beach', ' Claremont Village',
       ' Pelham Gardens', ' Westchester Square', ' Kew Gardens Hills',
       ' Arrochar', ' Edgemere', ' Shore Acres', ' Dyker Heights',
       ' Mount Eden', ' Randall Manor', ' Jamaica Hills', ' Norwood',
       ' Tottenville', ' Cambria Heights', ' East Morrisania',
       ' Soundview', ' Morris Park', ' Bronxdale', ' Bellerose',
       ' Navy Yard', ' Unionport', ' DUMBO', ' Bayswater', ' Tremont',
       ' Highbridge', ' Graniteville', ' Baychester', ' Morris Heights',
       ' Coney Island', ' Briarwood', ' West Farms', " Prince's Bay",
       ' University Heights', ' Clifton', ' Bay Terrace', ' City Island',
       ' West Brighton', ' Douglaston', ' Schuylerville',
       ' Port Richmond', ' Oakwood', ' Westerleigh', ' Little Neck',
       ' Holliswood', ' Bergen Beach', ' Castle Hill', ' Olinville',
       ' Rosebank', ' Melrose', ' Whitestone', ' Grant City',
       ' Riverdale', ' Neponsit', ' Bath Beach', ' Mariners Harbor',
       ' Hunts Point', ' Great Kills', ' Midland Beach', ' Eastchester',
       ' Jamaica Estates', ' New Springville'], dtype=object)

In [221]:
# Strip white space from neighbourhood column

airbnb.neighbourhood.str.strip()
airbnb.neighbourhood.unique()

# Print unique values again

array([' Flatlands', ' Upper West Side', ' Brooklyn Heights',
       ' Lower East Side', ' Greenwich Village', ' Harlem',
       ' Sheepshead Bay', ' Theater District', ' Bushwick', ' Laurelton',
       ' Mott Haven', ' Flushing', ' Crown Heights', ' Midtown',
       ' Financial District', ' East Village', ' Park Slope',
       ' Washington Heights', ' Williamsburg', ' Chelsea',
       ' Bedford-Stuyvesant', ' Gowanus', ' Upper East Side',
       ' Ditmars Steinway', ' Cypress Hills', " Hell's Kitchen",
       ' Ridgewood', ' Marble Hill', ' Kips Bay', ' Prospect Heights',
       ' East New York', ' Concord', ' Stapleton', ' Astoria',
       ' East Harlem', ' Sunnyside', ' Gramercy',
       ' Prospect-Lefferts Gardens', ' Sunset Park', ' Forest Hills',
       ' Windsor Terrace', ' Clinton Hill', ' Murray Hill',
       ' Flatiron District', ' Greenpoint', ' East Flatbush', ' Tribeca',
       ' Woodhaven', ' Fort Greene', ' Inwood', ' Chinatown',
       ' Rockaway Beach', ' Woodside', ' Bayside', ' Bensonhurst',
       ' SoHo', ' Red Hook', ' West Village', ' South Slope',
       ' Richmond Hill', ' Jamaica', ' Boerum Hill', ' St. George',
       ' Clason Point', ' College Point', ' Vinegar Hill', ' Rego Park',
       ' East Elmhurst', ' Kensington', ' Roosevelt Island',
       ' Ozone Park', ' Arverne', ' Fordham', ' Wakefield',
       ' Port Morris', ' Flatbush', ' Elmhurst', ' Bay Ridge',
       ' Canarsie', ' Little Italy', ' Civic Center', ' St. Albans',
       ' Morningside Heights', ' Morrisania', ' Two Bridges',
       ' Concourse', ' Downtown Brooklyn', ' Queens Village',
       ' Fieldston', ' Allerton', ' Grymes Hill', ' Carroll Gardens',
       ' Kingsbridge', ' Belle Harbor', ' NoHo', ' Maspeth',
       ' Borough Park', ' Midwood', ' Fresh Meadows',
       ' Battery Park City', ' Pelham Bay', ' Van Nest',
       ' Long Island City', ' Williamsbridge', ' Nolita', ' Kew Gardens',
       ' Corona', ' Middle Village', ' Jackson Heights', ' Gravesend',
       ' New Dorp Beach', ' Brighton Beach', ' Belmont', ' Eltingville',
       ' South Ozone Park', ' Stuyvesant Town', ' Far Rockaway',
       ' Longwood', ' Glendale', ' Dongan Hills', ' Hollis',
       ' Columbia St', ' Tompkinsville', ' Springfield Gardens',
       ' Concourse Village', ' Throgs Neck', ' Cobble Hill',
       ' South Beach', ' North Riverdale', ' Rosedale', ' Mount Hope',
       ' Edenwald', ' Parkchester', ' Mill Basin', ' Brownsville',
       ' Fort Hamilton', ' Howard Beach', ' Claremont Village',
       ' Pelham Gardens', ' Westchester Square', ' Kew Gardens Hills',
       ' Arrochar', ' Edgemere', ' Shore Acres', ' Dyker Heights',
       ' Mount Eden', ' Randall Manor', ' Jamaica Hills', ' Norwood',
       ' Tottenville', ' Cambria Heights', ' East Morrisania',
       ' Soundview', ' Morris Park', ' Bronxdale', ' Bellerose',
       ' Navy Yard', ' Unionport', ' DUMBO', ' Bayswater', ' Tremont',
       ' Highbridge', ' Graniteville', ' Baychester', ' Morris Heights',
       ' Coney Island', ' Briarwood', ' West Farms', " Prince's Bay",
       ' University Heights', ' Clifton', ' Bay Terrace', ' City Island',
       ' West Brighton', ' Douglaston', ' Schuylerville',
       ' Port Richmond', ' Oakwood', ' Westerleigh', ' Little Neck',
       ' Holliswood', ' Bergen Beach', ' Castle Hill', ' Olinville',
       ' Rosebank', ' Melrose', ' Whitestone', ' Grant City',
       ' Riverdale', ' Neponsit', ' Bath Beach', ' Mariners Harbor',
       ' Hunts Point', ' Great Kills', ' Midland Beach', ' Eastchester',
       ' Jamaica Estates', ' New Springville'], dtype=object)

##### **Task 6:** Make sure we set the correct maximum for `rating` column out of range values

In [245]:
# Isolate rows of rating > 5.0

airbnb.query('rating > 5.0')

,listing_id,name,host_id,host_name,neighbourhood_full,room_type,price,number_of_reviews,last_review,reviews_per_month,availability_365,rating,number_of_stays,5_stars,listing_added,latitude,longitude,borough,neighbourhood
1925,36411407,Brand new 1 bedroom steps from Soho!,33917435,Mike,"Manhattan, Lower East Side",Entire Home/apt,150.0,1,2019-07-06,1.0,13,5.017040,1.2,0.870161,2018-12-31,40.71825,-73.99019,Manhattan,Lower East Side
6732,36390226,Comfortable clean Bedstuy private room,267932490,Angela,"Brooklyn, Bedford-Stuyvesant",Private room,45.0,2,2019-07-08,2.0,14,5.087091,2.4,0.950339,2019-01-02,40.69551,-73.93951,Brooklyn,Bedford-Stuyvesant
8821,36413632,Spacious 2BR in Beautiful Brooklyn Heights,6608220,Matt,"Brooklyn, Brooklyn Heights",Entire Home/apt,550.0,1,2019-07-07,1.0,230,5.181114,1.2,0.805418,2019-01-01,40.69827,-73.99649,Brooklyn,Brooklyn Heights

In [223]:
# Drop these rows and make sure we have effected changes

In [224]:
# Get the maximum

##### **Task 7:** Check consitent date format in the date columns.

In [225]:
# Doing some sanity checks on date data

In [226]:
# Are there reviews in the future?

In [227]:
# Are there listings in the future?

In [228]:
# Drop these rows since they are only 4 rows

In [229]:
# Are there any listings with listing_added > last_review

In [230]:
# Drop these rows since they are only 2 rows

##### **Task 8:** Let's deal with duplicate data


There are two notable types of duplicate data:

- Identical duplicate data across all columns
- Identical duplicate data cross most or some columns

To diagnose, and deal with duplicate data, we will be using the following methods and functions:

- `.duplicated(subset = , keep = )`
  - `subset` lets us pick one or more columns with duplicate values.
  - `keep` returns lets us return all instances of duplicate values.
- `.drop_duplicates(subset = , keep = )`

In [231]:
# Print the header of the DataFrame again

In [232]:
# Find duplicates

In [233]:
# Find duplicates

In [234]:
# Remove identical duplicates

In [235]:
# Find non-identical duplicates

In [236]:
# Show all duplicates

To treat identical duplicates across some columns, we will chain the `.groupby()` and `.agg()` methods where we group by the column used to find duplicates (`listing_id`) and aggregate across statistical measures for `price`, `rating` and `list_added`. The `.agg()` method takes in a dictionary with each column's aggregation method - we will use the following aggregations:

- `mean` for `price` and `rating` columns
- `max` for `listing_added` column
- `first` for all remaining column

*A note on dictionary comprehensions:*

Dictionaries are useful data structures in Python with the following format
`my_dictionary = {key: value}` where a `key` is mapped to a `value` and whose `value` can be returned with `my_dictionary[key]` - dictionary comprehensions allow us to programmatically create dicitonaries using the structure:

```
{x: x*2 for x in [1,2,3,4,5]} 
{1:2, 2:4, 3:6, 4:8, 5:10}
```

In [237]:
# Get column names from airbnb

In [238]:
# Create dictionary comprehension with 'first' as value for all columns not being aggregated

In [239]:
# Remove non-identical duplicates

In [240]:
# Make sure no duplication happened

In [241]:
# Print header of DataFrame

## **Record Linkage**

Some selected examples will be presented in the on-site meeting.

In [242]:
# Task 1: Choose 3 different examples of word pairs, draw a matrix for each example, and calculate the levensthein distance manually without any digital support.

In [243]:
# Task 2: Calculate the levensthein distance for the three examples by using a python levensthein distance library of your choice.