# Data Engineering 1: Graded Lab 02
---------------

# Grading
For this graded lab you can get a total of 20 points. These 20 points count 10% of your final grade for the course.

#### Start
Start of the Graded Lab 02 is **Wednesday, May 04th at 23:55**.

#### Deadline
Deadline for the submission of the Graded Lab 02 is **Wednesday, May 19th at 23:59**.

#### Note
Check each result carefully. Use data filter, cleaning, and transformation methods wherever needed. The data can sometimes be really messy and have hidden issues.

#### Submission
You are allowed to submit the solution in groups of **two or three** students.
Submit your GradedLab02.ipynb file renamed to FirstnameStudent01LastnameStudent01_FirstnameStudent02LastnameStudent02_FirstnameStudent03LastnameStudent03.ipynb in moodle.   
Please submit a runnable python jupyter notebook file.
All other submissions will be rejected and graded with 0 points.

#### Task 01: Data Engineering with MongoDB [8 points].    
The 'restaurants_mongodb.json' file contains a dataset with a collection of restaurant information. In this task we work with this data and the MongoDB database. Run a MongoDB community server (see here https://www.mongodb.com/try/download/community) on your machine and connect to it with the python library 'pymongo'. It is also allowed to formulate and run the queries by using a MongoDB GUI. If you choose this option just copy and paste the queries into the cell (c) below.

##### __(a)  Create a database called data and a collection called restaurants in the database data.__

In [ ]:
# Type your code here or use a MongoDB GUI.

##### __(b)  Insert the documents from the file 'restaurants.json' into the collection restaurants.__

In [ ]:
# Type your code here or use a MongoDB GUI.

##### (c)  Write the queries to print the requested results.

* (1) write the query to print the total number of documents in the collection 'restaurants'
* (2) write the query to print 5 restaurant names with 'Bronx' as borough from the collection 'restaurants'
* (3) Write the query to print the restaurant names that achieved a score, more than 80 but less than 100 from the c collection 'restaurants'
* (4) Write the query to print the restaurant names for those restaurants which contain 'Wil' as first three letters in its name.
* (5) Write the query to print the restaurant names which are not belonging to the borough Staten Island or Queens or Bronx or Brooklyn.
* (6) Write the query to print each borough and the number of restaurants for each borough (hint: use the grouping function)
* (7) Write the query to print the restaurant names which have the term 'Mexican' in the name attribute but don't have mexican as content in the cuisine attribute.
* (8) Write the query to print all names of bakeries with 'sugar' in the name.

In [ ]:
# Option 1: type your code here

Option 2: type your queries here

#### Task 02:  Data Engineering with  BaseX [8 points]. 
Install the BaseX XML database and create a database with the file 'restaurants_basex.json'. Formulate all queries from the Task 01 (1) to (8) with XPath/XQuery in BaseX. The content of both json files is the same, so you should retrieve the same results as with the MongoDB solution. You can execute the queries directly in the BaseX GUI. After succesful execution in BaseX just copy and paste the queries into the cell below. If a query is not expressible in XPath/XQuery write down not possible and the reason.

Answer...

(1)

(2)

(3)

(4)

(5)

(6)

(7)

(8)

#### Task 03: Conclusions [4 points]. 
Write 5-10 sentences with your conclusions concerning performance, usability etc. between using MongoDB and BaseX.

Answer...